@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter var", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Ragazzi", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  /* https://www.tints.dev/terracotta/EE5B45 */
  --color-terracotta-50: oklch(98.13% 0.008 27.23);
  --color-terracotta-100: oklch(95.16% 0.021 24.79);
  --color-terracotta-200: oklch(89.61% 0.046 28.03);
  --color-terracotta-300: oklch(83.17% 0.079 28.57);
  --color-terracotta-400: oklch(75.52% 0.124 29.37);
  --color-terracotta-500: oklch(66.02% 0.186 31.04);
  --color-terracotta-600: oklch(61.76% 0.217 31.6);
  --color-terracotta-700: oklch(56.25% 0.204 31.62);
  --color-terracotta-800: oklch(48.84% 0.175 31.6);
  --color-terracotta-900: oklch(38.14% 0.133 31.71);
  --color-terracotta-950: oklch(32.89% 0.112 31.73);

  /* https://tints.dev/oxfordblue/4F748B */
  --color-oxford-blue-50: oklch(96.87% 0.005 247.88);
  --color-oxford-blue-100: oklch(93.89% 0.009 232.37);
  --color-oxford-blue-200: oklch(86.85% 0.021 238.7);
  --color-oxford-blue-300: oklch(79.1% 0.033 233.43);
  --color-oxford-blue-400: oklch(68.71% 0.049 234.78);
  --color-oxford-blue-500: oklch(54.03% 0.055 236.46);
  --color-oxford-blue-600: oklch(50.68% 0.051 236.28);
  --color-oxford-blue-700: oklch(45.98% 0.046 237.81);
  --color-oxford-blue-800: oklch(39.28% 0.038 237.6);
  --color-oxford-blue-900: oklch(31.46% 0.029 234.7);
  --color-oxford-blue-950: oklch(27.26% 0.023 235.76);
}

@layer base {
  .prose pre {
    background-color: #2e3440;
  }
}

.standard-link {
  @apply underline hover:no-underline;
}

.standard-label {
  @apply block font-medium sm:text-sm text-neutral-700 dark:text-neutral-300;
}

.standard-input {
  @apply block w-full font-medium bg-white border rounded-md inset-shadow-xs sm:text-sm text-neutral-700 dark:text-neutral-300 placeholder:text-neutral-500 dark:placeholder:text-neutral-400 dark:bg-neutral-800 border-neutral-300 dark:border-neutral-600 focus:outline-hidden focus:ring-oxford-blue-500 focus:border-oxford-blue-500 focus:shadow-none;
}

.standard-file-input {
  @apply block w-full text-sm rounded-md cursor-pointer file:cursor-pointer file:mr-2 file:py-2 file:px-4 file:rounded-md file:text-sm file:font-medium file:bg-oxford-blue-50 file:text-oxford-blue-700 hover:file:bg-oxford-blue-100 dark:file:bg-oxford-blue-900/10 dark:file:text-oxford-blue-400 dark:hover:file:bg-oxford-blue-900/20 text-neutral-700 dark:text-neutral-300 dark:bg-neutral-800 focus:outline-none;
}

.standard-checkbox {
  @apply focus:ring-0 focus:ring-offset-0 size-4 text-neutral-700 border-neutral-300 dark:border-neutral-600 dark:bg-neutral-800 rounded;
}

.button-terracotta {
  @apply inline-flex justify-center font-medium text-white border border-transparent rounded-md cursor-pointer sm:text-sm bg-terracotta-600 hover:bg-terracotta-700 focus:outline-hidden focus:ring-2 focus:ring-offset-2 focus:ring-terracotta-500 dark:ring-offset-black;
}

.button-oxford-blue {
  @apply inline-flex justify-center font-medium text-white border border-transparent rounded-md cursor-pointer sm:text-sm bg-oxford-blue-600 hover:bg-oxford-blue-700 focus:outline-hidden focus:ring-2 focus:ring-offset-2 focus:ring-oxford-blue-500 dark:ring-offset-black;
}

.button-white {
  @apply items-center px-3 py-2 text-sm font-semibold bg-white rounded-md shadow-sm cursor-pointer text-neutral-700 ring-1 dark:ring-0 ring-inset ring-neutral-300 hover:bg-neutral-50 dark:text-white dark:bg-white/10 dark:hover:bg-white/20 active:shadow-none active:bg-neutral-100 dark:active:bg-white/30;
}

.shot-range {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"].shot-range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: hsl(0, 80%, 50%);
  background: linear-gradient(45deg, hsl(0, 70%, 50%), hsl(120, 70%, 50%) 100%);
  @apply h-1;
}

input[type="range"].shot-range:focus {
  outline: none;
}

input[type="range"].shot-range::-moz-range-track {
  -moz-appearance: none;
  background: hsl(0, 70%, 50%);
  background: linear-gradient(45deg, hsl(0, 70%, 50%), hsl(120, 70%, 50%) 100%);
  @apply h-1;
}

input[type="range"].shot-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  bottom: 8px;
  cursor: -webkit-grab;
  @apply relative size-5 bg-white dark:bg-neutral-800 border-2 border-solid border-neutral-700 dark:border-neutral-300 rounded-full;
}

input[type="range"].shot-range::-moz-range-thumb {
  -moz-appearance: none;
  bottom: 8px;
  cursor: -moz-grab;
  @apply relative size-5 bg-white dark:bg-neutral-800 border-2 border-solid border-neutral-700 dark:border-neutral-300 rounded-full;
}

input[type="range"].shot-range::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type="range"].shot-range::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  @apply mt-1;
  @apply h-9 w-32;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  @apply rounded-md;
}

input[type="color"]::-moz-color-swatch {
  border: none;
  @apply rounded-md;
}

.turbo-progress-bar {
  @apply bg-terracotta-500;
}

a:hover .logo-steam path {
  animation: moveSteam 1s linear 1s infinite;
}

.logo-steam path {
  stroke-dashoffset: 36px;
}

@keyframes moveSteam {
  50% {
    stroke-dashoffset: 18px;
  }

  100% {
    stroke-dashoffset: 0px;
  }
}

.logo-loading .bars > path:nth-child(1) {
  animation: moveBars 0.5s ease-in-out -1.35s infinite alternate;
}

.logo-loading .bars > path:nth-child(2) {
  animation: moveBars 0.5s ease-in-out -1.2s infinite alternate;
}

.logo-loading .bars > path:nth-child(3) {
  animation: moveBars 0.5s ease-in-out -1.05s infinite alternate;
}

.logo-loading .bars > path:nth-child(4) {
  animation: moveBars 0.5s ease-in-out -0.9s infinite alternate;
}

.logo-loading .bars > path:nth-child(5) {
  animation: moveBars 0.5s ease-in-out -0.75s infinite alternate;
}

.logo-loading .bars > path:nth-child(6) {
  animation: moveBars 0.5s ease-in-out -0.6s infinite alternate;
}

.logo-loading .bars > path:nth-child(7) {
  animation: moveBars 0.5s ease-in-out -0.45s infinite alternate;
}

.logo-loading .bars > path:nth-child(8) {
  animation: moveBars 0.5s ease-in-out -0.3s infinite alternate;
}

.logo-loading .bars > path:nth-child(9) {
  animation: moveBars 0.5s ease-in-out -0.15s infinite alternate;
}

@keyframes moveBars {
  0% {
    stroke-dashoffset: 66px;
  }

  100% {
    stroke-dashoffset: 52px;
  }
}

.tagify {
  @apply relative flex flex-wrap items-center p-1;
}

.tagify + input,
.tagify + textarea {
  @apply absolute -left-[9999px] w-px h-px opacity-0 overflow-hidden pointer-events-none;
}

.tagify__tag {
  @apply inline-flex items-center relative cursor-default m-0.5 z-10 px-2 py-1 text-xs font-medium rounded-md bg-oxford-blue-50 text-oxford-blue-600 hover:bg-neutral-200/75 dark:bg-oxford-blue-400/5 dark:text-oxford-blue-300 dark:ring-1 dark:ring-inset dark:ring-oxford-blue-400/10 dark:hover:bg-neutral-700/75;
}

.tagify__tag > div {
  @apply flex-grow whitespace-nowrap;
}

.tagify__tag__removeBtn {
  @apply order-last self-center inline-flex items-center justify-center rounded-full cursor-pointer w-4 h-4 ml-1.5 text-oxford-blue-500 hover:text-white hover:bg-oxford-blue-400 dark:text-oxford-blue-300 dark:hover:text-white dark:hover:bg-oxford-blue-500 overflow-hidden;
}

.tagify__tag__removeBtn::after {
  content: "×";
  @apply text-xs leading-none font-semibold;
}

.tagify__input {
  @apply flex-grow inline-block min-w-[100px] relative whitespace-pre-wrap align-baseline m-0.5 px-1 py-1 focus:outline-none focus:ring-0;
}

.tagify__input::before {
  content: attr(data-placeholder);
  @apply absolute left-1 top-1/2 -translate-y-1/2 text-neutral-500 dark:text-neutral-400 pointer-events-none opacity-0;
}

.tagify__input:empty::before {
  @apply opacity-100;
}

.tagify.standard-input.tagify--focus {
  @apply ring-1 ring-oxford-blue-500 dark:ring-offset-black outline-hidden border-oxford-blue-500 shadow-none;
}

.tagify__dropdown {
  @apply absolute z-[9999] -translate-y-px;
}

.tagify__dropdown[placement="top"] {
  @apply -translate-y-full mt-0;
}

.tagify__dropdown__wrapper {
  @apply text-base sm:text-sm py-1 bg-white dark:bg-neutral-800 shadow-lg rounded-md border border-neutral-300 dark:border-neutral-600 max-h-60 overflow-auto ring-1 ring-black/5 focus:outline-none;
}

.tagify__dropdown__item {
  @apply text-neutral-700 dark:text-neutral-200 py-2 pl-3 pr-9 cursor-default select-none;
}

.tagify__dropdown__item--active {
  @apply bg-oxford-blue-400 dark:bg-oxford-blue-700 text-white;
}

.tagify__dropdown__item--hidden {
  @apply pt-0 pb-0 mx-px pointer-events-none max-h-0 transition-all duration-300;
}

.tagify__dropdown:has(.tagify__dropdown__item--selected) .tagify__dropdown__item {
  @apply indent-4;
}
