openapi: 3.1.0
info:
  title: Visualizer API
  version: "1.18.0"
  description: |
    REST API for Visualizer: upload and read espresso shots, and manage roasters and coffee bags.

    ## Authentication

    | Method | Use for |
    | --- | --- |
    | OAuth 2.0 authorization code flow | Apps that other people use. Register an app at https://visualizer.coffee/oauth/applications after signing in. |
    | HTTP Basic (email and password) | Personal scripts and local tooling. |

    Use OAuth for anything you distribute, so your app never handles Visualizer passwords. Access tokens expire after one week; use the refresh token to get a new one.

    ### Scopes

    | Scope | Allows |
    | --- | --- |
    | `read` | Reading your account, shots, roasters, and coffee bags. Granted when an app doesn't request a scope. |
    | `upload` | Uploading shots, nothing else. |
    | `write` | Uploading, updating, and deleting shots, and creating, updating, and deleting roasters and coffee bags. |

    Scopes don't include each other: a token with only `write` can't call endpoints that need `read`. Request every scope you need, for example `read write`.

    Some endpoints also work without authentication: public shots, share codes, and canonical search. Authenticating changes their results (for example, `GET /shots` lists your own shots instead of public ones), and invalid credentials are ignored rather than rejected.

    ## Requests

    - Send `Accept: application/json`. `PATCH /shots/{id}` rejects requests without it.
    - Write requests wrap their fields in the resource name, for example `{"coffee_bag": {"name": "Kiambu"}}`. Fields you leave out don't change.
    - To upload an image, send the write request as `multipart/form-data` with Rails-style field names such as `coffee_bag[image]`. To remove an image, send `"image": null` in JSON.

    ## Responses

    - Errors are JSON objects such as `{"error": "Coffee bag not found"}`. The exceptions are `401` responses and `403` responses caused by a missing OAuth scope: their body is empty, and OAuth errors are explained in the `WWW-Authenticate` header.
    - `image_url` values are signed links that expire after 5 minutes. Fetch the resource again for a fresh link instead of storing one.
    - Lists are paginated with the `page` and `items` parameters and include a `paging` object.

    ## Premium

    Premium is required to create, update, or delete roasters and coffee bags, and to set shot tags, tasting scores, private notes, metadata, and images.

    Without premium:

    - Shot lists only include shots uploaded in the last month.
    - Up to 30 new shots can be uploaded per rolling 24 hours, counted by upload time rather than brew time. Uploads over the limit return `422`. The limit is best effort, so concurrent uploads can exceed it. Updating or re-uploading an existing shot doesn't count toward it.

    ## Rate limits

    - 50 requests per minute and 200 requests per 10 minutes per IP address.
    - 200 requests per 10 minutes per authenticated user.

    Requests over a limit return `429`.

    ## Disabled accounts

    Requests authenticated as a disabled account return `403`. A disabled account's profile and shots are private: they're left out of public lists, but direct shot links and existing share codes keep working.
  contact:
    email: miha@visualizer.coffee
servers:
  - url: https://visualizer.coffee/api
    description: Production
  - url: http://localhost:3000/api
    description: Local development
tags:
  - name: Credentials
    description: The authenticated account.
  - name: Shots
    description: Espresso shots and their telemetry.
  - name: Roasters
    description: Your roasters. Creating, updating, and deleting them requires premium.
  - name: Coffee Bags
    description: Your coffee bags. Creating, updating, and deleting them requires premium.
  - name: Canonical
    description: Shared roaster and coffee database. Link your roasters and coffee bags to it with `canonical_roaster_id` and `canonical_coffee_bag_id`. No authentication needed.

paths:
  /me:
    get:
      tags: [Credentials]
      summary: Get the current account
      operationId: getCurrentAccount
      description: Returns the account the request is authenticated as.
      security:
        - OAuth2: [read]
        - BasicAuth: []
      responses:
        "200":
          description: The authenticated account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  /shots:
    get:
      tags: [Shots]
      summary: List shots
      operationId: listShots
      description: |
        Lists shots, newest first.

        - Unauthenticated: public shots.
        - Authenticated: your own shots, public and private.

        Without premium, including unauthenticated requests, only shots uploaded in the last month are listed.

        To sync incrementally, pass the time of your last sync as `updated_after`.
      security:
        - OAuth2: [read]
        - BasicAuth: []
        - {}
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Items"
        - $ref: "#/components/parameters/ShotSort"
        - $ref: "#/components/parameters/UpdatedAfter"
        - $ref: "#/components/parameters/ShotTags"
      responses:
        "200":
          description: A page of shot summaries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShotListResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          description: "`updated_after` isn't a whole number of seconds, or the page couldn't be loaded."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: updated_after must be a Unix timestamp in seconds
        "429":
          $ref: "#/components/responses/RateLimited"

  /shots/upload:
    post:
      tags: [Shots]
      summary: Upload a shot
      operationId: uploadShot
      description: |
        Uploads a shot file. Send it as the `file` field of a `multipart/form-data` request, or send a JSON export as the raw request body with `Content-Type: application/json`.

        The format is detected from the content:

        | Source | Detected by |
        | --- | --- |
        | Beanconqueror | JSON with a `mill` or `brewFlow` key |
        | Gaggiuino | JSON with a `datapoints` key |
        | GaggiMate | JSON with a `samples` key |
        | Meticulous | JSON with `profile_name` and `data` keys |
        | Decent (JSON) | Any other JSON object |
        | Decent (`.shot` TCL) | Text starting with `clock`, `sequence_id`, or `filename` (multipart only) |
        | Smart Espresso Profiler (CSV) | Text starting with `information_type` (multipart only) |

        If the shot already exists, it's updated from the file and its ID is returned. Beanconqueror uploads are matched by `visualizerId` or `meta.visualizer.shot_id`, and other uploads by their telemetry.
      security:
        - OAuth2: [upload]
        - OAuth2: [write]
        - BasicAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: Shot file in any supported format.
          application/json:
            schema:
              type: object
              description: Raw JSON export from a supported source.
              additionalProperties: true
      responses:
        "200":
          description: The created or updated shot.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShotUploadResult"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          description: No file was sent, the file isn't a shot Visualizer can read, or the daily upload limit was reached.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: Could not save the provided file. You've reached your daily limit of 30 shots. Please consider upgrading to a premium account.
        "429":
          $ref: "#/components/responses/RateLimited"

  /shots/shared:
    get:
      tags: [Shots]
      summary: Get shared shots
      operationId: getSharedShots
      description: |
        Resolves a share code created in Visualizer.

        - With `code`: returns the matching shot, or `404` if no code matches.
        - Without `code`, authenticated: returns the shots you've shared whose codes haven't expired.
        - Without `code`, unauthenticated: returns `404`.

        Share codes are deleted 1–2 hours after they're created.
      security:
        - OAuth2: [read]
        - BasicAuth: []
        - {}
      parameters:
        - $ref: "#/components/parameters/SharedCode"
        - $ref: "#/components/parameters/ShotFormat"
        - $ref: "#/components/parameters/WithData"
      responses:
        "200":
          description: The shot for `code`, or an array of your shared shots when `code` is left out.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SharedShotsResponse"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /shots/{id}:
    parameters:
      - $ref: "#/components/parameters/ShotId"
    get:
      tags: [Shots]
      summary: Get a shot
      operationId: getShot
      description: |
        Returns a shot. Anyone with a shot's ID can read it; private shots are only left out of lists.

        `private_notes` is only included for the shot's owner.
      security:
        - OAuth2: [read]
        - BasicAuth: []
        - {}
      parameters:
        - $ref: "#/components/parameters/ShotFormat"
        - $ref: "#/components/parameters/Essentials"
      responses:
        "200":
          description: The shot.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShotDetail"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
    patch:
      tags: [Shots]
      summary: Update a shot
      operationId: updateShot
      description: |
        Updates one of your shots and returns it. Requires `Accept: application/json`.

        Send JSON, or `multipart/form-data` to upload an image.

        - Premium-only fields are ignored for accounts without premium. If every field you send is ignored, the response is `400`.
        - Setting `coffee_bag_id` copies the bag's roaster, name, roast date, and roast level into `bean_brand`, `bean_type`, `roast_date`, and `roast_level`. On a shot without a coffee bag, setting `canonical_coffee_bag_id` copies the canonical coffee's roaster and name.
        - Updates are atomic: if validation fails, nothing changes, including tags.
      security:
        - OAuth2: [write]
        - BasicAuth: []
      parameters:
        - $ref: "#/components/parameters/Essentials"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShotUpdateRequest"
            examples:
              notes:
                summary: Rate the shot and add notes
                value:
                  shot:
                    espresso_enjoyment: 80
                    espresso_notes: <p>Syrupy, red fruit.</p>
              tags:
                summary: Replace tags (premium)
                value:
                  shot:
                    tag_list: [22g basket, high-speed]
              removeImage:
                summary: Remove the image (premium)
                value:
                  shot:
                    image: null
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/ShotMultipartRequest"
      responses:
        "200":
          description: The updated shot.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShotDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: "Validation failed, `image` wasn't sent as a file upload, or the request is missing `Accept: application/json`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: Request must be JSON.
        "429":
          $ref: "#/components/responses/RateLimited"
    delete:
      tags: [Shots]
      summary: Delete a shot
      operationId: deleteShot
      description: Deletes one of your shots.
      security:
        - OAuth2: [write]
        - BasicAuth: []
      responses:
        "200":
          $ref: "#/components/responses/Deleted"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /shots/{id}/download:
    parameters:
      - $ref: "#/components/parameters/ShotId"
    get:
      tags: [Shots]
      summary: Get a shot (alias)
      operationId: downloadShot
      description: Same as `GET /shots/{id}`.
      security:
        - OAuth2: [read]
        - BasicAuth: []
        - {}
      parameters:
        - $ref: "#/components/parameters/ShotFormat"
        - $ref: "#/components/parameters/Essentials"
      responses:
        "200":
          description: The shot.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShotDetail"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /shots/{id}/profile:
    parameters:
      - $ref: "#/components/parameters/ShotId"
    get:
      tags: [Shots]
      summary: Download a shot's profile
      operationId: downloadShotProfile
      description: |
        Downloads the profile the shot was brewed with, as a file attachment. Shot responses include a `profile_url` when a profile is available.

        - `format=csv`: the shot's telemetry in Smart Espresso Profiler CSV format. Works for any shot with telemetry.
        - `format=json`: the profile as JSON.
        - Any other value, or none: a Decent TCL profile when one is available, otherwise JSON.
      security:
        - OAuth2: [read]
        - BasicAuth: []
        - {}
      parameters:
        - $ref: "#/components/parameters/ProfileFormat"
      responses:
        "200":
          description: The profile file.
          content:
            text/csv:
              schema:
                type: string
            application/x-tcl:
              schema:
                type: string
            application/json:
              schema:
                type: object
                additionalProperties: true
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          description: The shot has no telemetry or no profile, for example a manually logged shot.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error: Shot does not have a profile
        "429":
          $ref: "#/components/responses/RateLimited"

  /roasters:
    get:
      tags: [Roasters]
      summary: List roasters
      operationId: listRoasters
      description: Lists your roasters, sorted by name.
      security:
        - OAuth2: [read]
        - BasicAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Items"
      responses:
        "200":
          description: A page of roasters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoasterListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
    post:
      tags: [Roasters]
      summary: Create a roaster
      operationId: createRoaster
      description: Creates a roaster. Requires premium. Send JSON, or `multipart/form-data` to include an image.
      security:
        - OAuth2: [write]
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoasterWriteRequest"
            example:
              roaster:
                name: Luma
                website: https://luma.example
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/RoasterMultipartRequest"
      responses:
        "201":
          description: The created roaster.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoasterDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationFailed"
        "429":
          $ref: "#/components/responses/RateLimited"

  /roasters/{id}:
    parameters:
      - $ref: "#/components/parameters/RoasterId"
    get:
      tags: [Roasters]
      summary: Get a roaster
      operationId: getRoaster
      description: Returns one of your roasters.
      security:
        - OAuth2: [read]
        - BasicAuth: []
      responses:
        "200":
          description: The roaster.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoasterDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
    patch:
      tags: [Roasters]
      summary: Update a roaster
      operationId: updateRoaster
      description: Updates one of your roasters. Requires premium. Send JSON, or `multipart/form-data` to upload an image.
      security:
        - OAuth2: [write]
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoasterWriteRequest"
            examples:
              rename:
                summary: Rename
                value:
                  roaster:
                    name: Luma Coffee
              removeImage:
                summary: Remove the image
                value:
                  roaster:
                    image: null
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/RoasterMultipartRequest"
      responses:
        "200":
          description: The updated roaster.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoasterDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationFailed"
        "429":
          $ref: "#/components/responses/RateLimited"
    delete:
      tags: [Roasters]
      summary: Delete a roaster
      operationId: deleteRoaster
      description: Deletes one of your roasters and all of its coffee bags. Requires premium. Shots that used those bags keep their bean details but are no longer linked to a bag.
      security:
        - OAuth2: [write]
        - BasicAuth: []
      responses:
        "200":
          $ref: "#/components/responses/Deleted"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /coffee_bags:
    get:
      tags: [Coffee Bags]
      summary: List coffee bags
      operationId: listCoffeeBags
      description: |
        Lists your coffee bags: active bags first, then frozen, then archived. Within each group, the newest roast date comes first (bags without one come last), then by name.

        Each bag includes `archived_at`, so you can tell archived bags apart without fetching each one.
      security:
        - OAuth2: [read]
        - BasicAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Items"
        - $ref: "#/components/parameters/RoasterFilter"
      responses:
        "200":
          description: A page of coffee bags.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoffeeBagListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
    post:
      tags: [Coffee Bags]
      summary: Create a coffee bag
      operationId: createCoffeeBag
      description: Creates a coffee bag for one of your roasters. Requires premium. Send JSON, or `multipart/form-data` to include an image.
      security:
        - OAuth2: [write]
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CoffeeBagWriteRequest"
            example:
              coffee_bag:
                name: Kiambu
                roaster_id: 2a3b4c5d-6e7f-4a8b-9c0d-1e2f3a4b5c6d
                roast_date: "2026-09-21"
                roast_level: Light
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CoffeeBagMultipartRequest"
      responses:
        "201":
          description: The created coffee bag.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoffeeBagDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "422":
          $ref: "#/components/responses/ValidationFailed"
        "429":
          $ref: "#/components/responses/RateLimited"

  /coffee_bags/{id}:
    parameters:
      - $ref: "#/components/parameters/CoffeeBagId"
    get:
      tags: [Coffee Bags]
      summary: Get a coffee bag
      operationId: getCoffeeBag
      description: Returns one of your coffee bags.
      security:
        - OAuth2: [read]
        - BasicAuth: []
      responses:
        "200":
          description: The coffee bag.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoffeeBagDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
    patch:
      tags: [Coffee Bags]
      summary: Update a coffee bag
      operationId: updateCoffeeBag
      description: |
        Updates one of your coffee bags. Requires premium. Send JSON, or `multipart/form-data` to upload an image.

        To archive a finished bag, set `archived_at`; set it to `null` to restore the bag.
      security:
        - OAuth2: [write]
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CoffeeBagWriteRequest"
            examples:
              archive:
                summary: Archive a finished bag
                value:
                  coffee_bag:
                    archived_at: "2026-10-05T08:30:00Z"
              restore:
                summary: Restore an archived bag
                value:
                  coffee_bag:
                    archived_at: null
              freeze:
                summary: Freeze a bag
                value:
                  coffee_bag:
                    frozen_date: "2026-10-05"
                    defrosted_date: null
              defrost:
                summary: Defrost a bag
                value:
                  coffee_bag:
                    defrosted_date: "2026-10-12"
              removeImage:
                summary: Remove the image
                value:
                  coffee_bag:
                    image: null
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/CoffeeBagMultipartRequest"
      responses:
        "200":
          description: The updated coffee bag.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoffeeBagDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationFailed"
        "429":
          $ref: "#/components/responses/RateLimited"
    delete:
      tags: [Coffee Bags]
      summary: Delete a coffee bag
      operationId: deleteCoffeeBag
      description: Deletes one of your coffee bags. Requires premium. Shots that used it keep their bean details but are no longer linked to a bag. To keep the bag's history, archive it instead.
      security:
        - OAuth2: [write]
        - BasicAuth: []
      responses:
        "200":
          $ref: "#/components/responses/Deleted"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /canonical_roasters:
    get:
      tags: [Canonical]
      summary: Search canonical roasters
      operationId: listCanonicalRoasters
      description: Every word in `q` must appear in the roaster's name; accents and case are ignored. A blank `q` returns no results. Results are sorted by name.
      parameters:
        - $ref: "#/components/parameters/SearchQuery"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Items"
      responses:
        "200":
          description: A page of canonical roasters.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CanonicalRoasterListResponse"
        "429":
          $ref: "#/components/responses/RateLimited"

  /canonical_coffee_bags:
    get:
      tags: [Canonical]
      summary: Search canonical coffee bags
      operationId: listCanonicalCoffeeBags
      description: Words in `q` shorter than 3 characters are ignored. Every remaining word must appear in the coffee's name or its roaster's name; accents and case are ignored. If no words remain, there are no results. Results are sorted by name.
      parameters:
        - $ref: "#/components/parameters/SearchQuery"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Items"
        - $ref: "#/components/parameters/CanonicalRoasterFilter"
      responses:
        "200":
          description: A page of canonical coffee bags.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CanonicalCoffeeBagListResponse"
        "429":
          $ref: "#/components/responses/RateLimited"

components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: Your Visualizer email and password.
    OAuth2:
      type: oauth2
      description: Authorization code flow. Register an app at https://visualizer.coffee/oauth/applications.
      flows:
        authorizationCode:
          authorizationUrl: https://visualizer.coffee/oauth/authorize
          tokenUrl: https://visualizer.coffee/oauth/token
          refreshUrl: https://visualizer.coffee/oauth/token
          scopes:
            read: Read your account, shots, roasters, and coffee bags.
            upload: Upload shots.
            write: Upload, update, and delete shots, and manage roasters and coffee bags.

  parameters:
    ShotId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    RoasterId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    CoffeeBagId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Page:
      name: page
      in: query
      description: Page number, starting at 1. A page past the end returns the last page, except on unauthenticated `GET /shots`, where it's empty.
      schema:
        type: integer
        minimum: 1
        default: 1
    Items:
      name: items
      in: query
      description: Page size. Values above 100 use 100; missing, zero, or negative values use 10.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    SearchQuery:
      name: q
      in: query
      description: Search terms. A blank query returns no results.
      schema:
        type: string
      example: luma
    ShotSort:
      name: sort
      in: query
      description: "`updated_at` sorts by last update, newest first. By default, shots are sorted by start time, newest first."
      schema:
        type: string
        enum: [updated_at]
    UpdatedAfter:
      name: updated_after
      in: query
      description: Only shots updated after this Unix timestamp, in whole seconds. Ignored for unauthenticated requests.
      schema:
        type: integer
        minimum: 0
      example: 1759651200
    ShotTags:
      name: tags
      in: query
      description: Comma-separated tag slugs (tag names in lowercase, with spaces as hyphens). Only shots with every listed tag are returned.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
      example: [basket, high-speed]
    SharedCode:
      name: code
      in: query
      description: Share code from Visualizer. Case-insensitive.
      schema:
        type: string
      example: ZXCV
    ShotFormat:
      name: format
      in: query
      description: Response shape. `decent` is accepted as an alias of `default`.
      schema:
        type: string
        enum: [default, beanconqueror]
        default: default
    Essentials:
      name: essentials
      in: query
      description: Set to any value to leave out `timeframe`, `data`, and `brewdata`. Ignored when `format=beanconqueror`.
      schema:
        type: string
      example: "1"
    WithData:
      name: with_data
      in: query
      description: Set to any value to include `timeframe` and `data`, or `brewdata`. They're always included when `format=beanconqueror`.
      schema:
        type: string
      example: "1"
    ProfileFormat:
      name: format
      in: query
      description: "`csv` returns telemetry as CSV and `json` a JSON profile. Any other value, or none, returns a Decent TCL profile when one is available, otherwise JSON."
      schema:
        type: string
        enum: [csv, json, tcl]
    RoasterFilter:
      name: roaster_id
      in: query
      description: Only coffee bags from this roaster.
      schema:
        type: string
        format: uuid
    CanonicalRoasterFilter:
      name: canonical_roaster_id
      in: query
      description: Only coffees from this canonical roaster.
      schema:
        type: string
        format: uuid

  responses:
    BadRequest:
      description: The resource wrapper (such as `coffee_bag`) is missing, or none of the fields sent are allowed for your account.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: "param is missing or the value is empty or invalid: coffee_bag"
    Unauthorized:
      description: Missing or invalid credentials. The body is empty; for OAuth tokens, the `WWW-Authenticate` header explains why.
    Forbidden:
      description: |
        Not allowed:

        - The OAuth token is missing a required scope. The body is empty; see the `WWW-Authenticate` header.
        - The account is disabled, doesn't have premium, or doesn't own the shot. The body is a JSON error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: You must be a premium user to access this feature.
    NotFound:
      description: Not found. Roasters and coffee bags that belong to other accounts are reported as not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: Coffee bag not found
    ValidationFailed:
      description: Validation failed, or `image` wasn't sent as a file upload.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: Name has already been taken
    Deleted:
      description: Deleted.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteResult"
    RateLimited:
      description: Too many requests. See the rate limits in the introduction.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: Too many requests. Please try again later.

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          description: Human-readable message.

    DeleteResult:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
          const: true

    Paging:
      type: object
      required: [count, page, limit, pages]
      properties:
        count:
          type: [integer, "null"]
          description: Total number of records. `null` for unauthenticated `GET /shots`.
        page:
          type: integer
          description: Page returned.
        limit:
          type: integer
          description: Page size used.
        pages:
          type: [integer, "null"]
          description: Total number of pages. `null` when `count` is `null`.

    MeResponse:
      type: object
      required: [id, name, public, avatar_url]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: Display name, or the email address when no name is set.
        public:
          type: boolean
          description: Whether the profile is public.
        avatar_url:
          type: string
          format: uri
          description: Uploaded avatar, or a Gravatar URL.

    ShotSummary:
      type: object
      required: [id, clock, updated_at]
      properties:
        id:
          type: string
          format: uuid
        clock:
          type: integer
          description: Start time as a Unix timestamp in seconds.
        updated_at:
          type: integer
          description: Last update as a Unix timestamp in seconds.

    ShotListResponse:
      type: object
      required: [data, paging, user_id]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ShotSummary"
        paging:
          $ref: "#/components/schemas/Paging"
        user_id:
          type: [string, "null"]
          format: uuid
          description: The authenticated user, or `null` for unauthenticated requests.

    ShotDetail:
      description: A shot in the shape selected by `format`.
      oneOf:
        - $ref: "#/components/schemas/DefaultShotDetail"
        - $ref: "#/components/schemas/BeanconquerorShotDetail"

    DefaultShotDetail:
      title: Default format
      type: object
      description: Optional fields are left out when they have no value.
      required: [id, user_id, duration, profile_title, drink_tds, drink_ey, espresso_enjoyment, bean_weight, drink_weight, grinder_model, grinder_setting, bean_brand, bean_type, roast_date, roast_level, barista, bean_notes, espresso_notes, updated_at, tags]
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: [string, "null"]
          format: uuid
        start_time:
          type: string
          format: date-time
          description: Left out when the owner hides shot times.
        updated_at:
          type: integer
          description: Last update as a Unix timestamp in seconds.
        duration:
          type: [number, "null"]
          description: Seconds.
        profile_title:
          type: [string, "null"]
        user_name:
          type: string
          description: The owner's display name. Only included when the owner's profile is public.
        bean_brand:
          type: [string, "null"]
          description: Roaster name.
        bean_type:
          type: [string, "null"]
          description: Coffee name.
        roast_date:
          type: [string, "null"]
          description: Text, normally in the owner's date format.
        roast_level:
          type: [string, "null"]
        bean_weight:
          type: [string, "null"]
          description: Dose in grams.
        drink_weight:
          type: [string, "null"]
          description: Yield in grams.
        drink_tds:
          type: [string, "null"]
        drink_ey:
          type: [string, "null"]
        grinder_model:
          type: [string, "null"]
        grinder_setting:
          type: [string, "null"]
        barista:
          type: [string, "null"]
        espresso_enjoyment:
          type: [integer, "null"]
          description: Rating from 0 to 100.
        espresso_notes:
          type: [string, "null"]
          description: Sanitized HTML.
        bean_notes:
          type: [string, "null"]
          description: Sanitized HTML.
        private_notes:
          type: string
          description: Sanitized HTML. Only included for the owner.
        fragrance:
          $ref: "#/components/schemas/TastingScore"
        aroma:
          $ref: "#/components/schemas/TastingScore"
        flavor:
          $ref: "#/components/schemas/TastingScore"
        aftertaste:
          $ref: "#/components/schemas/TastingScore"
        acidity:
          $ref: "#/components/schemas/TastingScore"
        bitterness:
          $ref: "#/components/schemas/TastingScore"
        sweetness:
          $ref: "#/components/schemas/TastingScore"
        mouthfeel:
          $ref: "#/components/schemas/TastingScore"
        tags:
          type: array
          items:
            type: string
        metadata:
          $ref: "#/components/schemas/ShotMetadata"
        roaster_id:
          type: string
          format: uuid
          description: Roaster of the linked coffee bag.
        coffee_bag_id:
          type: string
          format: uuid
        image_url:
          type: string
          format: uri
          description: Signed link that expires after 5 minutes.
        profile_url:
          type: string
          format: uri
          description: Profile download link. See `GET /shots/{id}/profile`.
        timeframe:
          $ref: "#/components/schemas/ShotTimeframe"
        data:
          $ref: "#/components/schemas/ShotSeriesData"
        brewdata:
          $ref: "#/components/schemas/ShotBrewdata"
      example:
        id: 15d4ec9f-7f86-4f63-b2ac-cfce8277f33f
        user_id: 0c2f8248-7d67-44c1-a89a-3a6c0d468875
        start_time: "2026-03-09T08:12:00.000Z"
        updated_at: 1773043980
        duration: 31.2
        profile_title: Rao Allongé
        bean_brand: Luma
        bean_type: Kiambu
        roast_date: "21.09.2026"
        roast_level: Light
        bean_weight: "20.0"
        drink_weight: "42.1"
        drink_tds: "9.8"
        drink_ey: "20.6"
        grinder_model: EK43
        grinder_setting: "7.5"
        barista: null
        espresso_enjoyment: 80
        espresso_notes: <p>Syrupy, red fruit.</p>
        bean_notes: null
        tags: [daily, washed]
        timeframe: [0.0, 0.25, 0.5]
        data:
          espresso_pressure: [0.0, 1.2, 2.7]
          espresso_flow: [0.0, 1.1, 2.3]

    BeanconquerorShotDetail:
      title: Beanconqueror format
      type: object
      description: A shot in a Beanconqueror-compatible shape, returned for `format=beanconqueror`. Fields without a value are left out.
      required: [bean, mill, brew, preparation, meta]
      properties:
        bean:
          $ref: "#/components/schemas/BeanconquerorBean"
        mill:
          $ref: "#/components/schemas/BeanconquerorMill"
        brew:
          $ref: "#/components/schemas/BeanconquerorBrew"
        preparation:
          $ref: "#/components/schemas/BeanconquerorPreparation"
        meta:
          $ref: "#/components/schemas/BeanconquerorMeta"
        timeframe:
          $ref: "#/components/schemas/ShotTimeframe"
        data:
          $ref: "#/components/schemas/ShotSeriesData"
        brewdata:
          $ref: "#/components/schemas/ShotBrewdata"
      example:
        bean:
          roaster: Luma
          name: Kiambu
          roast: Light
          roastingDate: "2026-09-21T00:00:00Z"
        mill:
          name: EK43
        brew:
          grind_size: "7.5"
          brew_beverage_quantity: "42.1"
          grind_weight: "20.0"
        preparation:
          name: Rao Allongé
        meta:
          visualizer:
            shot_id: 15d4ec9f-7f86-4f63-b2ac-cfce8277f33f
            updated_at: 1773043980
            espresso_notes: Syrupy, red fruit.
            tags: [daily, washed]

    BeanconquerorBean:
      type: object
      properties:
        roaster:
          type: string
        name:
          type: string
        roast:
          type: string
          description: Roast level.
        roastingDate:
          type: string
          format: date-time
          description: Roast date at midnight UTC.

    BeanconquerorMill:
      type: object
      properties:
        name:
          type: string
          description: Grinder model.

    BeanconquerorBrew:
      type: object
      properties:
        grind_size:
          type: string
        brew_beverage_quantity:
          type: string
          description: Yield in grams.
        grind_weight:
          type: string
          description: Dose in grams.
        tds:
          type: string
        ey:
          type: string

    BeanconquerorPreparation:
      type: object
      properties:
        name:
          type: string
          description: Profile title.

    BeanconquerorMeta:
      type: object
      required: [visualizer]
      properties:
        visualizer:
          type: object
          description: Visualizer's fields for the shot. Notes are plain text. Fields without a value are left out.
          required: [shot_id, updated_at, tags]
          properties:
            shot_id:
              type: string
              format: uuid
            user_id:
              type: string
              format: uuid
            start_time:
              type: string
              format: date-time
              description: Left out when the owner hides shot times.
            updated_at:
              type: integer
              description: Last update as a Unix timestamp in seconds.
            duration:
              type: number
              description: Seconds.
            user_name:
              type: string
              description: The owner's display name. Only included when the owner's profile is public.
            espresso_enjoyment:
              type: integer
              description: Rating from 0 to 100.
            espresso_notes:
              type: string
            bean_notes:
              type: string
            private_notes:
              type: string
              description: Only included for the owner.
            barista:
              type: string
            fragrance:
              $ref: "#/components/schemas/TastingScore"
            aroma:
              $ref: "#/components/schemas/TastingScore"
            flavor:
              $ref: "#/components/schemas/TastingScore"
            aftertaste:
              $ref: "#/components/schemas/TastingScore"
            acidity:
              $ref: "#/components/schemas/TastingScore"
            bitterness:
              $ref: "#/components/schemas/TastingScore"
            sweetness:
              $ref: "#/components/schemas/TastingScore"
            mouthfeel:
              $ref: "#/components/schemas/TastingScore"
            tags:
              type: array
              items:
                type: string
            metadata:
              $ref: "#/components/schemas/ShotMetadata"
            roaster_id:
              type: string
              format: uuid
            coffee_bag_id:
              type: string
              format: uuid
            image_url:
              type: string
              format: uri
              description: Signed link that expires after 5 minutes.
            profile_url:
              type: string
              format: uri

    TastingScore:
      type: integer
      minimum: 0
      maximum: 15

    ShotMetadata:
      type: object
      description: Values for the owner's custom shot metadata fields, keyed by field name. Left out when empty.
      additionalProperties: true
      example:
        Portafilter basket: IMS

    ShotTimeframe:
      type: array
      description: Seconds since the start of the shot, one entry per sample. Included with telemetry, except for Beanconqueror shots.
      items:
        type: [number, string]

    ShotSeriesData:
      type: object
      description: |
        Telemetry series aligned with `timeframe`. Which series exist depends on the source, for example `espresso_pressure`, `espresso_flow`, `espresso_weight`, `espresso_flow_weight`, `espresso_temperature_basket`, `espresso_temperature_mix`, `espresso_pressure_goal`, `espresso_flow_goal`, `espresso_temperature_goal`, `espresso_water_dispensed`, and `espresso_state_change`.

        Values are numbers or numeric strings, depending on the upload format.
      additionalProperties:
        $ref: "#/components/schemas/ShotSeries"

    ShotSeries:
      type: [array, "null"]
      items:
        type: [number, string, "null"]

    ShotBrewdata:
      type: [object, "null"]
      description: The original Beanconqueror upload, plus a `parser` key. Returned instead of `timeframe` and `data` for Beanconqueror shots, and `null` for shots without telemetry.
      additionalProperties: true

    SharedShotsResponse:
      oneOf:
        - $ref: "#/components/schemas/ShotDetail"
        - type: array
          items:
            $ref: "#/components/schemas/ShotDetail"

    ShotUploadResult:
      type: object
      required: [id]
      properties:
        id:
          type: string
          format: uuid

    ShotUpdateRequest:
      type: object
      required: [shot]
      properties:
        shot:
          type: object
          description: Fields to change. Premium-only fields are ignored without premium, and unknown fields are always ignored.
          properties:
            profile_title:
              type: [string, "null"]
            barista:
              type: [string, "null"]
            bean_brand:
              type: [string, "null"]
              description: Roaster name.
            bean_type:
              type: [string, "null"]
              description: Coffee name.
            roast_date:
              type: [string, "null"]
              description: Text, normally in your date format.
            roast_level:
              type: [string, "null"]
            bean_weight:
              type: [string, "null"]
              description: Dose in grams.
            drink_weight:
              type: [string, "null"]
              description: Yield in grams.
            drink_tds:
              type: [string, "null"]
            drink_ey:
              type: [string, "null"]
            grinder_model:
              type: [string, "null"]
            grinder_setting:
              type: [string, "null"]
            espresso_enjoyment:
              type: [integer, "null"]
              minimum: 0
              maximum: 100
            espresso_notes:
              type: [string, "null"]
              description: HTML. Unsafe markup and embedded media are removed.
            bean_notes:
              type: [string, "null"]
              description: HTML. Unsafe markup and embedded media are removed.
            canonical_coffee_bag_id:
              type: [string, "null"]
              format: uuid
            coffee_bag_id:
              type: [string, "null"]
              format: uuid
              description: Premium with coffee management enabled. Must be one of your coffee bags.
            private_notes:
              type: [string, "null"]
              description: Premium. HTML. Unsafe markup and embedded media are removed.
            fragrance:
              $ref: "#/components/schemas/TastingScoreInput"
            aroma:
              $ref: "#/components/schemas/TastingScoreInput"
            flavor:
              $ref: "#/components/schemas/TastingScoreInput"
            aftertaste:
              $ref: "#/components/schemas/TastingScoreInput"
            acidity:
              $ref: "#/components/schemas/TastingScoreInput"
            bitterness:
              $ref: "#/components/schemas/TastingScoreInput"
            sweetness:
              $ref: "#/components/schemas/TastingScoreInput"
            mouthfeel:
              $ref: "#/components/schemas/TastingScoreInput"
            tag_list:
              description: Premium. Replaces all tags. An array or a comma-separated string; send an empty array to remove all tags. Names are lowercased, and characters other than letters, digits, spaces, `_`, and `-` are removed.
              oneOf:
                - type: array
                  items:
                    type: string
                - type: string
            metadata:
              type: [object, "null"]
              description: Premium. Replaces all values for your custom shot metadata fields. Keys that aren't your fields are ignored.
              additionalProperties: true
            image:
              type: "null"
              description: Premium. Send `null` to remove the image. To upload one, use `multipart/form-data`.

    TastingScoreInput:
      type: [integer, "null"]
      description: Premium.
      minimum: 0
      maximum: 15

    ShotMultipartRequest:
      type: object
      description: Send any other field from the JSON request as `shot[field]`.
      properties:
        shot[image]:
          type: string
          format: binary
          description: Premium. JPEG, PNG, WebP, HEIC, or another raster image format. SVG isn't accepted.
      additionalProperties: true

    RoasterSummary:
      type: object
      required: [id, name]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string

    RoasterListResponse:
      type: object
      required: [data, paging]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/RoasterSummary"
        paging:
          $ref: "#/components/schemas/Paging"

    RoasterDetail:
      type: object
      required: [id, name, website, canonical_roaster_id]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        website:
          type: [string, "null"]
        canonical_roaster_id:
          type: [string, "null"]
          format: uuid
        image_url:
          type: string
          format: uri
          description: Signed link that expires after 5 minutes. Left out when there's no image.

    RoasterWriteRequest:
      type: object
      required: [roaster]
      properties:
        roaster:
          type: object
          properties:
            name:
              type: string
              description: Required when creating. Must be unique among your roasters, ignoring case.
            website:
              type: [string, "null"]
            canonical_roaster_id:
              type: [string, "null"]
              format: uuid
              description: Canonical roaster to link to.
            image:
              type: "null"
              description: Send `null` to remove the image. To upload one, use `multipart/form-data`.

    RoasterMultipartRequest:
      type: object
      properties:
        roaster[name]:
          type: string
        roaster[website]:
          type: string
        roaster[canonical_roaster_id]:
          type: string
          format: uuid
        roaster[image]:
          type: string
          format: binary
          description: JPEG, PNG, WebP, HEIC, or another raster image format. SVG isn't accepted.

    CoffeeBagSummary:
      type: object
      required: [id, name, roaster_id, canonical_coffee_bag_id, archived_at]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        roaster_id:
          type: string
          format: uuid
        canonical_coffee_bag_id:
          type: [string, "null"]
          format: uuid
        archived_at:
          type: [string, "null"]
          format: date-time
          description: When the bag was archived, or `null` if it's active.

    CoffeeBagListResponse:
      type: object
      required: [data, paging]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/CoffeeBagSummary"
        paging:
          $ref: "#/components/schemas/Paging"

    CoffeeBagDetail:
      type: object
      required: [id, roaster_id, canonical_coffee_bag_id, name, roast_date, frozen_date, defrosted_date, archived_at, roast_level, country, region, farm, farmer, variety, elevation, processing, harvest_time, quality_score, tasting_notes, place_of_purchase, url, notes, metadata]
      properties:
        id:
          type: string
          format: uuid
        roaster_id:
          type: string
          format: uuid
        canonical_coffee_bag_id:
          type: [string, "null"]
          format: uuid
        name:
          type: string
        roast_date:
          type: [string, "null"]
          format: date
        frozen_date:
          type: [string, "null"]
          format: date
        defrosted_date:
          type: [string, "null"]
          format: date
        archived_at:
          type: [string, "null"]
          format: date-time
          description: When the bag was archived, or `null` if it's active.
        roast_level:
          type: [string, "null"]
        country:
          type: [string, "null"]
        region:
          type: [string, "null"]
        farm:
          type: [string, "null"]
        farmer:
          type: [string, "null"]
        variety:
          type: [string, "null"]
        elevation:
          type: [string, "null"]
        processing:
          type: [string, "null"]
        harvest_time:
          type: [string, "null"]
        quality_score:
          type: [string, "null"]
        tasting_notes:
          type: [string, "null"]
        place_of_purchase:
          type: [string, "null"]
        url:
          type: [string, "null"]
          description: Product page.
        notes:
          type: [string, "null"]
          description: Sanitized HTML.
        metadata:
          type: [object, "null"]
          description: Values for your custom coffee bag metadata fields, or `null` if there are none.
          additionalProperties: true
        image_url:
          type: string
          format: uri
          description: Signed link that expires after 5 minutes. Left out when there's no image.
      example:
        id: 7f1c5e2a-3b4d-4e6f-8a9b-0c1d2e3f4a5b
        roaster_id: 2a3b4c5d-6e7f-4a8b-9c0d-1e2f3a4b5c6d
        canonical_coffee_bag_id: null
        name: Kiambu
        roast_date: "2026-09-21"
        frozen_date: null
        defrosted_date: null
        archived_at: "2026-10-05T08:30:00.000Z"
        roast_level: Light
        country: Kenya
        region: Kiambu
        farm: null
        farmer: null
        variety: SL28, SL34
        elevation: 1700 m
        processing: Washed
        harvest_time: null
        quality_score: null
        tasting_notes: Blackcurrant, grapefruit
        place_of_purchase: null
        url: null
        notes: <p>Best 2–4 weeks off roast.</p>
        metadata: null

    CoffeeBagWriteRequest:
      type: object
      required: [coffee_bag]
      properties:
        coffee_bag:
          type: object
          properties:
            name:
              type: string
              description: Required when creating. Must be unique for the roaster and roast date, ignoring case.
            roaster_id:
              type: string
              format: uuid
              description: Required when creating. Must be one of your roasters. Send a different one to move the bag.
            canonical_coffee_bag_id:
              type: [string, "null"]
              format: uuid
              description: Canonical coffee to link to.
            roast_date:
              type: [string, "null"]
              format: date
            frozen_date:
              type: [string, "null"]
              format: date
            defrosted_date:
              type: [string, "null"]
              format: date
              description: Requires `frozen_date` and can't be before it.
            archived_at:
              type: [string, "null"]
              format: date-time
              description: Set to archive the bag, or `null` to restore it.
            roast_level:
              type: [string, "null"]
            country:
              type: [string, "null"]
            region:
              type: [string, "null"]
            farm:
              type: [string, "null"]
            farmer:
              type: [string, "null"]
            variety:
              type: [string, "null"]
            elevation:
              type: [string, "null"]
            processing:
              type: [string, "null"]
            harvest_time:
              type: [string, "null"]
            quality_score:
              type: [string, "null"]
            tasting_notes:
              type: [string, "null"]
            place_of_purchase:
              type: [string, "null"]
            url:
              type: [string, "null"]
              description: Product page.
            notes:
              type: [string, "null"]
              description: HTML. Unsafe markup and embedded media are removed.
            metadata:
              type: [object, "null"]
              description: Replaces all values for your custom coffee bag metadata fields. Keys that aren't your fields are ignored.
              additionalProperties: true
            image:
              type: "null"
              description: Send `null` to remove the image. To upload one, use `multipart/form-data`.

    CoffeeBagMultipartRequest:
      type: object
      description: Send any other field from the JSON request as `coffee_bag[field]`.
      properties:
        coffee_bag[name]:
          type: string
        coffee_bag[roaster_id]:
          type: string
          format: uuid
        coffee_bag[image]:
          type: string
          format: binary
          description: JPEG, PNG, WebP, HEIC, or another raster image format. SVG isn't accepted.
      additionalProperties: true

    CanonicalRoasterSummary:
      type: object
      required: [id, name, website, country]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        website:
          type: [string, "null"]
        country:
          type: [string, "null"]

    CanonicalRoasterListResponse:
      type: object
      required: [data, paging]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/CanonicalRoasterSummary"
        paging:
          $ref: "#/components/schemas/Paging"

    CanonicalCoffeeBagSummary:
      type: object
      required: [id, canonical_roaster_id, canonical_roaster_name, name, url, roast_level, country, region, farmer, variety, elevation, processing, harvest_time, tasting_notes, created_at, updated_at]
      properties:
        id:
          type: string
          format: uuid
        canonical_roaster_id:
          type: string
          format: uuid
        canonical_roaster_name:
          type: string
        name:
          type: string
        url:
          type: [string, "null"]
        roast_level:
          type: [string, "null"]
        country:
          type: [string, "null"]
        region:
          type: [string, "null"]
        farmer:
          type: [string, "null"]
        variety:
          type: [string, "null"]
        elevation:
          type: [string, "null"]
        processing:
          type: [string, "null"]
        harvest_time:
          type: [string, "null"]
        tasting_notes:
          type: [string, "null"]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CanonicalCoffeeBagListResponse:
      type: object
      required: [data, paging]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/CanonicalCoffeeBagSummary"
        paging:
          $ref: "#/components/schemas/Paging"
