openapi: 3.1.0
info:
  title: Visualizer API
  version: "1.4.0"
  description: |
    REST API for Visualizer.

    Supports:
    - Shot retrieval and upload
    - Shot updates/deletes
    - Roaster CRUD (premium)
    - Coffee bag CRUD (premium)

    Authentication options:
    - OAuth2 access token (Doorkeeper)
    - HTTP Basic (email/password)

    Notes:
    - Some read endpoints are public (`/shots`, `/shots/{id}`, `/shots/shared`)
    - Write endpoints require authenticated users and write scope (OAuth)
    - Roaster/Coffee Bag writes also require premium access
  contact:
    email: miha@visualizer.coffee
servers:
  - url: https://visualizer.coffee/api
    description: Production
  - url: http://localhost:3000/api
    description: Local development
tags:
  - name: Credentials
  - name: Shots
  - name: Roasters
  - name: Coffee Bags

paths:
  /me:
    get:
      tags: [Credentials]
      summary: Get current account
      operationId: getCurrentAccount
      security:
        - OAuth2: [read]
        - BasicAuth: []
      responses:
        "200":
          description: Authenticated account details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MeResponse"
        "401":
          description: Authentication required.

  /shots:
    get:
      tags: [Shots]
      summary: List shots
      operationId: listShots
      description: |
        Returns shots sorted by start time (default) or `updated_at`.

        Behavior differs by auth state:
        - Unauthenticated: only public shots
        - Authenticated: own shots
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Items"
        - $ref: "#/components/parameters/ShotSort"
      responses:
        "200":
          description: Paginated shot summaries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShotListResponse"
        "422":
          description: Invalid pagination/sort.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Too many requests.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /shots/upload:
    post:
      tags: [Shots]
      summary: Upload shot export
      operationId: uploadShot
      description: |
        Upload a shot file via one of:
        - `multipart/form-data` with `file`
        - `application/json` raw payload
      security:
        - OAuth2: [upload]
        - OAuth2: [write]
        - BasicAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
          application/json:
            schema:
              $ref: "#/components/schemas/ShotUploadPayload"
      responses:
        "200":
          description: Shot created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShotUploadResult"
        "401":
          description: Authentication required.
        "403":
          description: Missing OAuth scope.
        "422":
          description: Could not parse or persist shot.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /shots/shared:
    get:
      tags: [Shots]
      summary: Resolve shared shot(s)
      operationId: getSharedShots
      description: |
        - With `code`: resolve a specific shared shot.
        - Without `code` and authenticated: return authenticated user's shared shots.
        - Without `code` and unauthenticated: returns 404.
      parameters:
        - $ref: "#/components/parameters/SharedCode"
        - $ref: "#/components/parameters/ShotFormat"
        - $ref: "#/components/parameters/WithData"
      responses:
        "200":
          description: Shared shot or list of shared shots.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SharedShotsResponse"
        "404":
          description: Shared shot not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /shots/{id}:
    parameters:
      - $ref: "#/components/parameters/ShotId"
    get:
      tags: [Shots]
      summary: Get shot
      operationId: getShot
      parameters:
        - $ref: "#/components/parameters/ShotFormat"
        - $ref: "#/components/parameters/Essentials"
      responses:
        "200":
          description: Shot detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShotDetail"
        "404":
          description: Shot not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      tags: [Shots]
      summary: Update shot
      operationId: updateShot
      security:
        - OAuth2: [write]
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShotUpdateRequest"
      responses:
        "200":
          description: Updated shot detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShotDetail"
        "401":
          description: Authentication required.
        "403":
          description: Not authorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Shot not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Invalid request payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      tags: [Shots]
      summary: Delete shot
      operationId: deleteShot
      security:
        - OAuth2: [write]
        - BasicAuth: []
      responses:
        "200":
          description: Shot deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResult"
        "401":
          description: Authentication required.
        "403":
          description: Not authorized.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Shot not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /shots/{id}/download:
    get:
      tags: [Shots]
      summary: Download shot (alias of get shot)
      operationId: downloadShot
      parameters:
        - $ref: "#/components/parameters/ShotId"
        - $ref: "#/components/parameters/ShotFormat"
        - $ref: "#/components/parameters/Essentials"
      responses:
        "200":
          description: Shot detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShotDetail"
        "404":
          description: Shot not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /shots/{id}/profile:
    get:
      tags: [Shots]
      summary: Download shot profile file
      operationId: downloadShotProfile
      parameters:
        - $ref: "#/components/parameters/ShotId"
        - $ref: "#/components/parameters/ProfileFormat"
      responses:
        "200":
          description: Profile file stream.
          content:
            text/csv:
              schema:
                type: string
                format: binary
            application/x-tcl:
              schema:
                type: string
                format: binary
            application/json:
              schema:
                type: string
                format: binary
        "404":
          description: Shot not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Shot has no profile.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /roasters:
    get:
      tags: [Roasters]
      summary: List roasters
      operationId: listRoasters
      security:
        - OAuth2: [read]
        - BasicAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Items"
      responses:
        "200":
          description: Paginated roaster summaries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoasterListResponse"
        "401":
          description: Authentication required.
    post:
      tags: [Roasters]
      summary: Create roaster
      operationId: createRoaster
      security:
        - OAuth2: [write]
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoasterWriteRequest"
      responses:
        "201":
          description: Roaster created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoasterDetail"
        "401":
          description: Authentication required.
        "403":
          description: Premium access or missing OAuth scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /roasters/{id}:
    parameters:
      - $ref: "#/components/parameters/RoasterId"
    get:
      tags: [Roasters]
      summary: Get roaster
      operationId: getRoaster
      security:
        - OAuth2: [read]
        - BasicAuth: []
      responses:
        "200":
          description: Roaster detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoasterDetail"
        "401":
          description: Authentication required.
        "404":
          description: Roaster not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      tags: [Roasters]
      summary: Update roaster
      operationId: updateRoaster
      security:
        - OAuth2: [write]
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RoasterWriteRequest"
      responses:
        "200":
          description: Roaster updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RoasterDetail"
        "401":
          description: Authentication required.
        "403":
          description: Premium access or missing OAuth scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Roaster not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      tags: [Roasters]
      summary: Delete roaster
      operationId: deleteRoaster
      security:
        - OAuth2: [write]
        - BasicAuth: []
      responses:
        "200":
          description: Roaster deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResult"
        "401":
          description: Authentication required.
        "403":
          description: Premium access or missing OAuth scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Roaster not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /coffee_bags:
    get:
      tags: [Coffee Bags]
      summary: List coffee bags
      operationId: listCoffeeBags
      security:
        - OAuth2: [read]
        - BasicAuth: []
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Items"
        - $ref: "#/components/parameters/RoasterFilter"
      responses:
        "200":
          description: Paginated coffee bag summaries.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoffeeBagListResponse"
        "401":
          description: Authentication required.
    post:
      tags: [Coffee Bags]
      summary: Create coffee bag
      operationId: createCoffeeBag
      security:
        - OAuth2: [write]
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CoffeeBagWriteRequest"
      responses:
        "201":
          description: Coffee bag created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoffeeBagDetail"
        "401":
          description: Authentication required.
        "403":
          description: Premium access or missing OAuth scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /coffee_bags/{id}:
    parameters:
      - $ref: "#/components/parameters/CoffeeBagId"
    get:
      tags: [Coffee Bags]
      summary: Get coffee bag
      operationId: getCoffeeBag
      security:
        - OAuth2: [read]
        - BasicAuth: []
      responses:
        "200":
          description: Coffee bag detail.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoffeeBagDetail"
        "401":
          description: Authentication required.
        "404":
          description: Coffee bag not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    patch:
      tags: [Coffee Bags]
      summary: Update coffee bag
      operationId: updateCoffeeBag
      security:
        - OAuth2: [write]
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CoffeeBagWriteRequest"
      responses:
        "200":
          description: Coffee bag updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CoffeeBagDetail"
        "401":
          description: Authentication required.
        "403":
          description: Premium access or missing OAuth scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Coffee bag not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422":
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      tags: [Coffee Bags]
      summary: Delete coffee bag
      operationId: deleteCoffeeBag
      security:
        - OAuth2: [write]
        - BasicAuth: []
      responses:
        "200":
          description: Coffee bag deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResult"
        "401":
          description: Authentication required.
        "403":
          description: Premium access or missing OAuth scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Coffee bag not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /roasters/{roaster_id}/coffee_bags:
    get:
      tags: [Coffee Bags]
      summary: Legacy nested coffee bag index
      description: Deprecated alias that redirects to `/coffee_bags?roaster_id={roaster_id}`.
      operationId: legacyNestedCoffeeBagsIndex
      deprecated: true
      parameters:
        - $ref: "#/components/parameters/RoasterId"
      responses:
        "301":
          description: Permanent redirect to root coffee bag index.

  /roasters/{roaster_id}/coffee_bags/{id}:
    get:
      tags: [Coffee Bags]
      summary: Legacy nested coffee bag show
      description: Deprecated alias that redirects to `/coffee_bags/{id}`.
      operationId: legacyNestedCoffeeBagShow
      deprecated: true
      parameters:
        - $ref: "#/components/parameters/RoasterId"
        - $ref: "#/components/parameters/CoffeeBagId"
      responses:
        "301":
          description: Permanent redirect to root coffee bag show.

components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: Email/password authentication.
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://visualizer.coffee/oauth/authorize
          tokenUrl: https://visualizer.coffee/oauth/token
          refreshUrl: https://visualizer.coffee/oauth/token
          scopes:
            read: Read account metadata, shots, roasters, and coffee bags.
            upload: Upload shot files.
            write: Update/delete shots and manage roasters/coffee bags.

  parameters:
    Page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
      description: 1-based page number (default 1).
    Items:
      name: items
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
      description: Items per page (default 10, max 100).
    ShotSort:
      name: sort
      in: query
      schema:
        type: string
        enum: [updated_at]
      description: Set to `updated_at` for updated-time sorting. Omit for start-time sorting.
    ShotId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    RoasterId:
      name: roaster_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    CoffeeBagId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    SharedCode:
      name: code
      in: query
      required: false
      schema:
        type: string
      description: Shared shot code (case-insensitive).
    ShotFormat:
      name: format
      in: query
      required: false
      schema:
        type: string
      description: Optional output format used by shot serializers.
    ProfileFormat:
      name: format
      in: query
      required: false
      schema:
        type: string
        enum: [csv, json, tcl]
      description: Profile output format. `tcl` is used when available and format is not `json`.
    Essentials:
      name: essentials
      in: query
      required: false
      schema:
        oneOf:
          - type: string
          - type: boolean
      description: When present, omits full shot information payload.
    WithData:
      name: with_data
      in: query
      required: false
      schema:
        oneOf:
          - type: string
          - type: boolean
      description: When present on shared shot responses, includes detailed shot information.
    RoasterFilter:
      name: roaster_id
      in: query
      required: false
      schema:
        type: string
        format: uuid
      description: Filter coffee bags by roaster ID.

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
      example:
        error: Shot not found

    DeleteResult:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
      example:
        success: true

    Paging:
      type: object
      required: [count, page, limit, pages]
      properties:
        count:
          type: integer
        page:
          type: integer
        limit:
          type: integer
        pages:
          type: integer

    MeResponse:
      type: object
      required: [id, name, public, avatar_url]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        public:
          type: boolean
        avatar_url:
          type: string
          format: uri

    ShotSummary:
      type: object
      required: [id, clock, updated_at]
      properties:
        id:
          type: string
          format: uuid
        clock:
          type: integer
          format: int64
          description: Shot start timestamp (unix seconds).
        updated_at:
          type: integer
          format: int64
          description: Last update timestamp (unix seconds).

    ShotListResponse:
      type: object
      required: [data, paging]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/ShotSummary"
        paging:
          $ref: "#/components/schemas/Paging"

    ShotDetail:
      type: object
      description: Flexible shot payload. Keys vary by `format` and integration source.
      additionalProperties: true

    SharedShotsResponse:
      oneOf:
        - $ref: "#/components/schemas/ShotDetail"
        - type: array
          items:
            $ref: "#/components/schemas/ShotDetail"

    ShotUploadPayload:
      type: object
      description: Raw JSON shot export payload from supported tools/devices.
      additionalProperties: true

    ShotUploadResult:
      type: object
      required: [id]
      properties:
        id:
          type: string
          format: uuid

    ShotUpdateRequest:
      type: object
      required: [shot]
      properties:
        shot:
          type: object
          additionalProperties: true
          properties:
            profile_title:
              type: string
              nullable: true
            barista:
              type: string
              nullable: true
            bean_weight:
              type: string
              nullable: true
            private_notes:
              type: string
              nullable: true
            canonical_coffee_bag_id:
              type: string
              format: uuid
              nullable: true
            coffee_bag_id:
              type: string
              format: uuid
              nullable: true
            tag_list:
              type: array
              items:
                type: string
            metadata:
              type: object
              additionalProperties: true
              nullable: true

    RoasterSummary:
      type: object
      required: [id, name]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string

    RoasterListResponse:
      type: object
      required: [data, paging]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/RoasterSummary"
        paging:
          $ref: "#/components/schemas/Paging"

    RoasterDetail:
      type: object
      required: [id, name]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        website:
          type: string
          format: uri
          nullable: true
        image_url:
          type: string
          format: uri
          nullable: true
    RoasterWriteRequest:
      type: object
      required: [roaster]
      properties:
        roaster:
          type: object
          properties:
            name:
              type: string
            website:
              type: string
              format: uri
              nullable: true
            canonical_roaster_id:
              type: string
              format: uuid
              nullable: true

    CoffeeBagSummary:
      type: object
      required: [id, name]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string

    CoffeeBagListResponse:
      type: object
      required: [data, paging]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/CoffeeBagSummary"
        paging:
          $ref: "#/components/schemas/Paging"

    CoffeeBagDetail:
      type: object
      required: [id, name]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        roast_date:
          type: string
          format: date
          nullable: true
        frozen_date:
          type: string
          format: date
          nullable: true
        defrosted_date:
          type: string
          format: date
          nullable: true
        roast_level:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
        region:
          type: string
          nullable: true
        farm:
          type: string
          nullable: true
        farmer:
          type: string
          nullable: true
        variety:
          type: string
          nullable: true
        elevation:
          type: string
          nullable: true
        processing:
          type: string
          nullable: true
        harvest_time:
          type: string
          nullable: true
        quality_score:
          type: string
          nullable: true
        tasting_notes:
          type: string
          nullable: true
        place_of_purchase:
          type: string
          nullable: true
        url:
          type: string
          format: uri
          nullable: true
        notes:
          type: string
          nullable: true
        archived_at:
          type: string
          format: date-time
          nullable: true
        image_url:
          type: string
          format: uri
          nullable: true
        metadata:
          type: object
          additionalProperties: true
          nullable: true

    CoffeeBagWriteRequest:
      type: object
      required: [coffee_bag]
      properties:
        coffee_bag:
          type: object
          properties:
            name:
              type: string
            roaster_id:
              type: string
              format: uuid
              nullable: true
            canonical_coffee_bag_id:
              type: string
              format: uuid
              nullable: true
            roast_date:
              type: string
              format: date
              nullable: true
            frozen_date:
              type: string
              format: date
              nullable: true
            defrosted_date:
              type: string
              format: date
              nullable: true
            roast_level:
              type: string
              nullable: true
            country:
              type: string
              nullable: true
            region:
              type: string
              nullable: true
            farm:
              type: string
              nullable: true
            farmer:
              type: string
              nullable: true
            variety:
              type: string
              nullable: true
            elevation:
              type: string
              nullable: true
            processing:
              type: string
              nullable: true
            harvest_time:
              type: string
              nullable: true
            quality_score:
              type: string
              nullable: true
            tasting_notes:
              type: string
              nullable: true
            place_of_purchase:
              type: string
              nullable: true
            url:
              type: string
              format: uri
              nullable: true
            notes:
              type: string
              nullable: true
            metadata:
              type: object
              additionalProperties: true
              nullable: true
