<% content_for(:html_title) { "Visualizer | Bean Counting 2024: Year in Coffee of #{@user.name}" } %>
<div class="flex flex-col items-center px-4 mx-auto my-6 gap-y-6 max-w-7xl sm:px-6 lg:px-8 dark:text-neutral-200">
  <h1 class="font-serif text-4xl font-bold tracking-tight text-balance text-neutral-900 dark:text-neutral-100">
    Bean Counting 2024: <%= @user.name %>
  </h1>
</div>
