<% content_for(:html_title) { "Visualizer | Changelog" } %>
<div class="max-w-3xl px-4 pt-12 pb-6 mx-auto sm:px-6">
  <% if current_user&.admin %>
    <div class="text-xs text-right">
      <%= link_to "New", new_change_path, class: "text-right" %>
    </div>
  <% end %>
  <div class="space-y-20 sm:space-y-32">
    <%= render @changes %>
  </div>
  <%= render partial: "shared/pagination", locals: {pagy: @pagy, extra_classes: nil} %>
</div>
