<div class="bg-white dark:bg-black border-b border-neutral-200 dark:border-neutral-800">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold leading-tight text-neutral-900 dark:text-neutral-100">New Change</h1>
  </div>
</div>
<div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
  <%= render "form", change: @change %>
</div>
