<% content_for(:html_title) { "Visualizer | #{@change.title}" } %>
<div class="bg-white dark:bg-stone-900 shadow">
  <div class="max-w-prose mx-auto py-6 px-4 md:px-0">
    <p class="text-sm text-stone-500"><%= @change.published_at.strftime('%B %-d, %Y') %></p>
    <h1 class="text-3xl font-bold leading-tight text-stone-900 dark:text-stone-100"><%= @change.title %></h1>
  </div>
</div>
<%= link_to "Edit", edit_change_path(@change) if current_user&.admin %>
<div class="p-4 sm:flex">
  <div class="grow hidden sm:block"></div>
  <%= markdown_text_from(@change.body) %>
  <div class="grow hidden sm:block"></div>
</div>
