<%= content_for :title, "Your Visualizer Premium Subscription Has Been Extended" %>
<%= content_for :preheader, "One month added to your Premium subscription, no strings attached." %>
<tr>
  <td class="sm-px-0" style="width: 100%; padding-left: 24px; padding-right: 24px; text-align: left">
    <table style="width: 100%;" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <table style="width: 100%;" cellpadding="0" cellspacing="0">
            <tr>
              <td style="border-radius: 4px; background-color: #fff; padding: 24px; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)">
                <h1 style="margin: 0 0 36px; font-size: 36px; line-height: 36px; color: #000">
                  Your Visualizer Subscription Just Got Extended
                </h1>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  In case you missed my <a class="hover-no-underline" target="_blank" style="color: #db3e27; text-decoration-line: underline" href="https://visualizer.coffee/updates/black-friday">recent update</a>, I've extended your Premium subscription by one month, completely free. No strings attached.
                </p>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  You can check your updated subscription details by visiting your <a class="hover-no-underline" target="_blank" style="color: #db3e27; text-decoration-line: underline" href="https://visualizer.coffee/premium/manage">subscription management page</a> or by clicking your profile picture and selecting "Manage Subscription".
                  While you're there, it might be a good time to verify that your card information is up to date.
                </p>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  I've also made two simple decisions about Visualizer's future: no more discounts ever, and no price increases for the foreseeable future.
                  For details, read the <a class="hover-no-underline" target="_blank" style="color: #db3e27; text-decoration-line: underline" href="https://visualizer.coffee/updates/black-friday">recent update</a>.
                </p>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  Thank you for being a Premium subscriber and supporting Visualizer's development. Enjoy your extra month! ☕️
                </p>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  Miha
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
