<%= content_for :title, "Quick heads-up before your renewal" %>
<%= content_for :preheader, "There is now a better option than Lemon Squeezy." %>
<tr>
  <td class="sm-px-0" style="width: 100%; padding-left: 24px; padding-right: 24px; text-align: left">
    <table style="width: 100%;" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <table style="width: 100%;" cellpadding="0" cellspacing="0">
            <tr>
              <td style="border-radius: 4px; background-color: #fff; padding: 24px; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)">
                <h1 style="margin: 0 0 36px; font-size: 36px; line-height: 36px; color: #000">
                  Quick heads-up before your renewal
                </h1>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  Hi, Your Visualizer Premium subscription is set to renew soon, and I just wanted to say thank you - I really appreciate your continued support.
                </p>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  In case you missed it, I switched my payment provider away from Lemon Squeezy.
                  As you might know from first-hand experience, Lemon Squeezy has been pretty frustrating to work with (random network issues, odd billing behavior, no support,…).
                  So I switched to Creem, which is a more reliable payment provider. There's also the added benefit of Creem being EU based.
                  I can also finally be compliant with EU regulations that require all users to pay the same exact price regardless of their location.
                  What that means is that if you were paying extra VAT/sales tax on top before, that will no longer be the case and the price will simply be 50€.
                </p>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  If you want more context, I wrote about it in two updates:
                  <a class="hover-no-underline" target="_blank" style="color: #db3e27; text-decoration-line: underline" href="https://visualizer.coffee/updates/new-year-new-payment-processor-meticulous-support-and-much-more">switching payment providers</a>
                  and
                  <a class="hover-no-underline" target="_blank" style="color: #db3e27; text-decoration-line: underline" href="https://visualizer.coffee/updates/better-charts-clearer-bags-and-trending-tweaks">payment providers update</a>.
                </p>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  Unfortunately, there is no automatic migration path, but switching is simple:
                  <br>
                  1) cancel Lemon Squeezy subscription (or reply and I can do it for you)
                  <br>
                  2) sign up again at
                  <a class="hover-no-underline" target="_blank" style="color: #db3e27; text-decoration-line: underline" href="https://visualizer.coffee/premium">visualizer.coffee/premium</a>
                  after your current subscription expires
                  <br>
                  3) there is no step 3. It'll go through Creem automatically.
                </p>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                </p>

                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  Thanks again for supporting Visualizer!
                </p>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  Miha
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
