<%= content_for :title, "I will refund your Lemon Squeezy renewal" %>
<%= content_for :preheader, "I will cancel and fully refund your recent LS renewal." %>
<tr>
  <td class="sm-px-0" style="width: 100%; padding-left: 24px; padding-right: 24px; text-align: left">
    <table style="width: 100%;" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <table style="width: 100%;" cellpadding="0" cellspacing="0">
            <tr>
              <td style="border-radius: 4px; background-color: #fff; padding: 24px; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)">
                <h1 style="margin: 0 0 36px; font-size: 36px; line-height: 36px; color: #000">
                  Quick update about your Premium subscription
                </h1>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  Hi,
                </p>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  First of all, thank you for your continued support and trust in Visualizer.
                </p>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  In case you missed it, I switched my payment provider away from Lemon Squeezy.
                  As you might know from first-hand experience, LS has been pretty frustrating to work with (random network issues, odd billing behavior, no support,…).
                  So I switched to Creem, which is a more reliable payment provider. There's also the added benefit of Creem being EU based.
                  Which means I can finally be compliant with EU regulations that require all users to pay the same exact price regardless of their location.
                  What that means is that if you were paying extra VAT/sales tax on top before, that will no longer be the case and the price will simply be 50€/year.
                </p>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  If you want more context, I wrote about it in two updates:
                  <a class="hover-no-underline" target="_blank" style="color: #db3e27; text-decoration-line: underline" href="https://visualizer.coffee/updates/new-year-new-payment-processor-meticulous-support-and-much-more">switching payment providers</a>
                  and
                  <a class="hover-no-underline" target="_blank" style="color: #db3e27; text-decoration-line: underline" href="https://visualizer.coffee/updates/better-charts-clearer-bags-and-trending-tweaks">payment providers update</a>.
                </p>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  Unfortunately, there is no automatic migration path, but because your yearly plan renewed after New Year, I will shortly cancel that subscription and <strong>issue a full refund</strong>.
                </p>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  After that, you are free to sign up again at
                  <a class="hover-no-underline" target="_blank" style="color: #db3e27; text-decoration-line: underline" href="https://visualizer.coffee/premium">visualizer.coffee/premium</a>.
                  It will go through Creem automatically.
                </p>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  If your country adds sales tax (VAT or similar), this will likely be cheaper for you.
                  And even in the worst case, the price stays the same - just on a better and more reliable platform.
                </p>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  Thank you for your understanding and for continuing support Visualizer. It really means a lot!
                </p>
                <p style="margin: 0 0 24px; font-size: 16px; color: #000">
                  Miha
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
