<div id="shot-list" class="space-y-8">
  <div class="mt-6 flow-root px-4 sm:mt-10 sm:px-0">
    <div class="-my-6 divide-y divide-neutral-200 sm:-my-10">
      <% shots.each do |shot| %><%= render shot %><% end %>
    </div>
  </div>
</div>
</div>
<% if defined?(@shots_count) %>
  <turbo-stream action="replace" target="shots-count">
    <template>
      <span id="shots-count"><%= pluralize(@shots_count, "shot") %></span>
    </template>
  </turbo-stream>
<% end %>
