<div data-shot-compare-target="banner" class="hidden">
  <div class="fixed top-10 left-1/2 z-50 w-5/6 max-w-md -translate-x-1/2 sm:w-auto">
    <div class="py-2 px-6 rounded cursor-pointer bg-oxford-blue-600/90" data-action="click->shot-compare#deselect">
      <p class="text-sm font-semibold text-center text-white">
        Click on any shot to compare it with selected
      </p>
    </div>
  </div>
</div>
