<div data-shot-compare-target="banner" class="hidden">
  <div class="fixed top-10 left-1/2 z-50 transform -translate-x-1/2">
    <div class="py-2 px-6 rounded cursor-pointer bg-oxford-blue-600" data-action="click->shot-compare#deselect">
      <p class="text-sm text-white">
        <span class="font-semibold">
          Click on any shot to compare it with selected shot
        </span>
      </p>
    </div>
  </div>
</div>
