<div data-shot-compare-target="banner" class="hidden">
  <div class="fixed inset-x-0 top-0 sm:flex sm:justify-center sm:px-6 sm:pt-20 z-50 pointer-events-none">
    <div class="flex items-center justify-between gap-x-6 bg-oxford-blue-600 px-6 py-2.5 sm:rounded-xl sm:py-3 sm:pr-3.5 sm:pl-4 pointer-events-auto">
      <p class="text-sm text-white">
        <span class="font-semibold">
          Click on any shot to compare it with selected shot
        </span>
      </p>
    </div>
  </div>
</div>
