<div data-shot-compare-target="banner" class="hidden">
  <div class="fixed left-1/2 transform -translate-x-1/2 top-10 z-50">
    <div class="bg-oxford-blue-600 px-6 py-2 rounded cursor-pointer" data-action="click->shot-compare#deselect">
      <p class="text-sm text-white">
        <span class="font-semibold">
          Click on any shot to compare it with selected shot
        </span>
      </p>
    </div>
  </div>
</div>
