- owner = current_user && shot.user == current_user
- show_start_time = owner || !shot.user&.hide_shot_times?
- show_name = name && shot.user && shot.user.public? && shot.user != current_user
- bean_weight = shot.bean_weight.to_f
- drink_weight = shot.drink_weight.to_f
- ratio = drink_weight / bean_weight
- tds = shot.drink_tds.to_f
- ey = shot.drink_ey.to_f
- enjoyment = shot.espresso_enjoyment.to_i

.flex
  .shrink-0
    - if enjoyment > 0
      - hue = (124.0 / 100 * enjoyment).round
      .flex.items-center.justify-center.h-12.w-12.rounded-full style="background-color: hsl(#{hue}, 70%, 50%);"
        .text-white.py-1.text-center
          = shot.espresso_enjoyment
  div class=("ml-4" if enjoyment > 0)
    a.text-lg.leading-6.font-medium.text-stone-900.dark:text-stone-100 href=shot_path(shot)
      = shot.profile_title
    .mt-2.text-base.text-stone-600.dark:text-stone-400
      - if show_name
        .flex.items-center
          div
            ' Shot by
            = shot.user.name
          - if shot.user.premium?
            = link_to premium_index_path do
              svg.ml-1.h-4.w-4.text-pink-600.hover:text-pink-800 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"
      - if show_start_time
        div
          = shot.start_time.in_time_zone(@timezone).to_formatted_s(:long)
      div
        - if shot.bean_brand.present?
          = shot.bean_brand
          '
        - if shot.bean_type.present?
          = shot.bean_type
          '
        - if shot.roast_level.present?
          | (
          = shot.roast_level
          ' )
        - if shot.roast_date.present?
          ' on
          = shot.roast_date
      div
        - if bean_weight > 0
          = shot.bean_weight
          | g
        - if bean_weight > 0 && drink_weight > 0
          | :
        - if drink_weight > 0
          = shot.drink_weight
          | g
          '
        - if bean_weight > 0 && drink_weight > 0 && ratio > 0 && ratio.finite?
          | (1:
          = ratio.round(1)
          |)
        - if bean_weight > 0 || drink_weight > 0
          '  in
        = shot.duration.round(1)
        | s
      div
        - if shot.grinder_model.present?
          = shot.grinder_model
          '
        - if shot.grinder_setting.present?
          ' @
          = shot.grinder_setting
      div
        - if tds > 0
          ' TDS
          = tds
          ' %
        - if tds > 0 && ey > 0
          '
        - if ey > 0
          ' EY
          = ey
          ' %
      - if shot.barista.present?
        .mt-2
          span.font-medium.text-stone-900.dark:text-stone-100 Barista:&nbsp;
          span = shot.barista
      - if shot.bean_notes.present?
        .mt-2
          .font-medium.text-stone-900.dark:text-stone-100 Bean notes:
          = markdown_text_from(shot.bean_notes)
      - if shot.espresso_notes.present?
        .mt-2
          .font-medium.text-stone-900.dark:text-stone-100 Notes:
          = markdown_text_from(shot.espresso_notes)
