<div class="flex py-6 sm:py-10">
  <div class="min-w-0 flex-1 lg:flex lg:flex-col">
    <div class="lg:flex-1">
      <div class="sm:flex">
        <div>
          <h4 class="font-medium text-neutral-900">Nomad Tumbler</h4>
          <p class="mt-2 hidden text-sm text-neutral-500 sm:block">This durable double-walled insulated tumbler keeps your beverages at the perfect temperature all day long. Hot, cold, or even lukewarm if you&#039;re weird like that, this bottle is ready for your next adventure.</p>
        </div>
        <p class="mt-1 font-medium text-neutral-900 sm:ml-6 sm:mt-0">$35.00</p>
      </div>
      <div class="mt-2 flex text-sm font-medium sm:mt-4">
        <%= link_to "View Shot", shot_path(shot), class: "text-terracotta-600 hover:text-terracotta-500" %>
        <div class="ml-4 border-l border-neutral-200 pl-4 sm:ml-6 sm:pl-6">
          <a href="#" class="text-terracotta-600 hover:text-terracotta-500">Buy Again</a>
        </div>
      </div>
    </div>
    <div class="mt-6 font-medium">
      <p>Out for delivery</p>
    </div>
  </div>
</div>
