<div class="flex-1" data-controller="related-shots">
  <select class="mt-0 standard-input" data-action="related-shots#goTo">
    <% related_shots.each do |id, title, bean_type, time| %>
      <% title = "#{bean_type} (#{title})" if bean_type.present? %>
      <% if id == shot.id %>
        <option value="<%= shot_path(id) %>" selected>Go to another shot</option>
      <% else %>
        <option value="<%= id %>">
          <%= [title, time.in_time_zone(@timezone).to_formatted_s(:long)].join(" @ ") %>
        </option>
      <% end %>
    <% end %>
  </select>
</div>
