.mr-3
  a.cursor-pointer.inline-flex.px-4.py-2.border.border-stone-300.dark:border-stone-600.rounded-md.shadow-sm.text-sm.bg-white.dark:bg-stone-800.hover:bg-stone-50.dark:hover:bg-stone-900 href=api_shot_profile_path(@shot) title="Download this profile" target="_blank"
    /! Heroicon name: document-download
    svg.-ml-1.-mr-1.h-4.w-4.text-stone-500.dark:text-stone-300 fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
      path clip-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v3.586l-1.293-1.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V8z" fill-rule="evenodd"
.mr-3 data-controller="share-shot" data-share-shot-url-value="#{share_shot_url}"
  .hidden.fixed.z-10.inset-0.overflow-y-auto data-share-shot-target="toggleable" data-action="keydown@window->share-shot#keydown"
    .flex.items-end.justify-center.min-h-screen.pt-4.px-4.pb-20.text-center.sm:block.sm:p-0
      .fixed.inset-0.transition-opacity data-transition-enter="ease-out duration-300" data-transition-enter-start="opacity-0" data-transition-enter-end="opacity-100" data-transition-leave="ease-in duration-200" data-transition-leave-start="opacity-100" data-transition-leave-end="opacity-0" data-share-shot-target="toggleable"
        .absolute.inset-0.bg-stone-500.opacity-75 data-action="click->share-shot#hide"
      /! This element is to trick the browser into centering the share-shot contents.
      span.hidden.sm:inline-block.sm:align-middle.sm:h-screen​
      .inline-block.align-bottom.bg-white.dark:bg-black.rounded-lg.text-left.overflow-hidden.shadow-xl.transform.transition-all.sm:my-8.sm:align-middle.sm:max-w-2xl.sm:w-full data-transition-enter="ease-out duration-300" data-transition-enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" data-transition-enter-end="opacity-100 translate-y-0 sm:scale-100" data-transition-leave="ease-in duration-200" data-transition-leave-start="opacity-100 translate-y-0 sm:scale-100" data-transition-leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" data-share-shot-target="toggleable"
        .bg-white.dark:bg-black.px-4.pt-5.pb-4.sm:p-6.sm:pb-4
          .sm:flex.sm:items-start
            .mx-auto.shrink-0.flex.items-center.justify-center.h-12.w-12.rounded-full.bg-green-100.dark:bg-green-900.sm:mx-0.sm:h-10.sm:w-10
              /! Heroicon name: upload
              svg.h-6.w-6.text-green-600.dark:text-green-400 fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"
            .mt-3.text-center.sm:mt-0.sm:ml-4.sm:text-left
              h3.text-lg.leading-6.font-medium.text-stone-900.dark:text-stone-100
                | Share this Shot
              .mt-2
                p.text-sm.text-stone-500.dark:text-stone-400
                  | Open DYE (Describe Your Espresso), navigate to "Next Shot," tap the "Visualizer" button, type the code below in the "Code" field, and tap "Download."
              p.tracking-widest.font-mono.bg-green-700.dark:bg-green-900.text-6xl.text-center.mt-6.py-6.px-6.text-white.font-semibold.rounded-lg data-share-shot-target="code"
                | …
              .mt-6
                p.text-sm.text-stone-500.dark:text-stone-400.mb-1
                  ' The capitalization of the code is
                  strong
                    '  not important
                  | (ASDF equals Asdf equals asdf).
                p.text-sm.text-stone-500.dark:text-stone-400
                  | This code is only valid for 1 hour.
        .bg-stone-50.dark:bg-stone-900.px-4.py-3.sm:px-6.sm:flex.sm:flex-row-reverse
          button.mt-3.w-full.inline-flex.justify-center.rounded-md.border.border-stone-300.dark:border-stone-600.shadow-sm.px-4.py-2.bg-white.dark:bg-stone-800.text-base.font-medium.text-stone-700.dark:text-stone-300.hover:bg-stone-50.dark:hover:bg-stone-900.focus:outline-none.focus:ring-2.focus:ring-offset-2.focus:ring-green-500.sm:mt-0.sm:ml-3.sm:w-auto.sm:text-sm data-action="share-shot#hide"
            | Close
  button.cursor-pointer.inline-flex.px-4.py-2.border.border-stone-300.dark:border-stone-600.rounded-md.shadow-sm.text-sm.bg-white.dark:bg-stone-800.hover:bg-stone-50.dark:hover:bg-stone-900 title="Share this Shot" data-action="share-shot#show"
    /! Heroicon name: upload
    svg.-ml-1.-mr-1.h-4.w-4.text-stone-500.dark:text-stone-300 fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"
      path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM6.293 6.707a1 1 0 010-1.414l3-3a1 1 0 011.414 0l3 3a1 1 0 01-1.414 1.414L11 5.414V13a1 1 0 11-2 0V5.414L7.707 6.707a1 1 0 01-1.414 0z" clip-rule="evenodd"
