<div>
  <div
    data-controller="tasting-assessment-chart"
    data-tasting-assessment-chart-categories-value="<%= categories.to_json %>"
    data-tasting-assessment-chart-series-value="<%= series.to_json %>">
    <div class="h-64" data-tasting-assessment-chart-target="chart"></div>
  </div>
</div>
