<div class="relative isolate flex items-center gap-x-6 overflow-hidden bg-terracotta-50 dark:bg-terracotta-950/30 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
  <div class="absolute left-[max(-7rem,calc(50%-52rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
    <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-terracotta-300 to-oxford-blue-300 dark:from-terracotta-500 dark:to-oxford-blue-500 opacity-30" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
  </div>
  <div class="absolute left-[max(45rem,calc(50%+8rem))] top-1/2 -z-10 -translate-y-1/2 transform-gpu blur-2xl" aria-hidden="true">
    <div class="aspect-[577/310] w-[36.0625rem] bg-gradient-to-r from-oxford-blue-300 to-terracotta-300 dark:from-oxford-blue-500 dark:to-terracotta-500 opacity-30" style="clip-path: polygon(74.8% 41.9%, 97.2% 73.2%, 100% 34.9%, 92.5% 0.4%, 87.5% 0%, 75% 28.6%, 58.5% 54.6%, 50.1% 56.8%, 46.9% 44%, 48.3% 17.4%, 24.7% 53.9%, 0% 27.9%, 11.9% 74.2%, 24.9% 54.1%, 68.6% 100%, 74.8% 41.9%)"></div>
  </div>
  <div class="flex flex-wrap items-center justify-between w-full sm:justify-center gap-x-4 gap-y-2">
    <div class="text-sm leading-6 text-neutral-900 dark:text-neutral-100">
      <%= link_to yearly_brew_index_path(year: 2024) do %>
        <strong class="font-semibold">Yearly Brew 2024</strong>

        <svg viewBox="0 0 2 2" class="hidden sm:inline mx-2 h-0.5 w-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>
        <span class="hidden sm:inline">Your Annual Stats Revealed</span>

      <% end %>
    </div>
    <%= link_to yearly_brew_index_path(year: 2024), class: "flex-none rounded-full bg-terracotta-600 px-3.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-terracotta-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-terracotta-600" do %>
      View <span aria-hidden="true">&rarr;</span>
    <% end %>
  </div>
  <div class="sm:flex sm:justify-end sm:flex-1">
  </div>
</div>
