<div class="flex items-center gap-x-6 bg-terracotta-600 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
  <p class="text-sm leading-6 text-white">
    <%= link_to yearly_brew_index_path do %>
      <strong class="font-semibold">Yearly Brew</strong><svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true"><circle cx="1" cy="1" r="1" /></svg>Your Annual Stats Revealed&nbsp;<span aria-hidden="true">&rarr;</span>
    <% end %>
  </p>
  <div class="flex justify-end flex-1">
  </div>
</div>
