.max-w-7xl.mx-auto.py-6.px-2.sm:px-6.lg:px-8
  .flex.flex-col.md:flex-row
    .flex-1
      = render "details", shot: @shot, name: true
    .flex-1.mt-6.md:ml-3.md:mt-0
      = render "details", shot: @comparison, name: true

- if Current.user&.premium? && @chart
  .max-w-7xl.mx-auto.py-6.px-2.sm:px-6.lg:px-8
    .text-center.text-lg.text-neutral-900.dark:text-neutral-100
      ' Adjust comparison timing
    .flex
      .flex.flex-col.grow.mr-2.mt-2
        input#compare-range.shot-range.pt-2.flex-1.dark:bg-neutral-900 type="range" min="-#{@chart.duration}" max="#{@chart.duration}" value="0" step="#{@chart.timestep}"
        .flex.pt-2
          .text-neutral-600.dark:text-neutral-400
            | -
            = ActiveSupport::Duration.build(@chart.duration / 1000).inspect
          .grow
          .text-neutral-600.dark:text-neutral-400
            = ActiveSupport::Duration.build(@chart.duration / 1000).inspect
      button#compare-range-reset.items-center.px-4.py-2.border.border-neutral-300.dark:border-neutral-600.rounded-md.shadow-sm.text-sm.font-medium.text-neutral-700.bg-white.dark:bg-neutral-800.dark:text-neutral-300.hover:bg-neutral-50.dark:hover:bg-neutral-900 Reset

- if @chart
  .max-w-7xl.mx-auto.px-2.sm:px-6.lg:px-8
    #shot-chart
  .max-w-7xl.mx-auto.pb-8.px-2.sm:px-6.lg:px-8
    #temperature-chart

  javascript:
    window.shotData = #{{@chart.shot_chart.to_json}}
    window.temperatureData = #{{@chart.temperature_chart.to_json}}
    window.shotStages = []
    window.comparisonData = #{{@chart.comparison_data.to_json}}
