<div class="bg-white shadow dark:bg-neutral-900">
  <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold leading-tight text-neutral-900 dark:text-neutral-100">
      Edit Shot
    </h1>
  </div>
</div>
<div class="py-6 mx-auto max-w-7xl md:px-6 lg:px-8" data-controller="related-shots">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="px-4 sm:px-6 md:p-0 md:col-span-1">
      <div>
        <h3 class="font-medium leading-6 text-neutral-900 dark:text-neutral-100">
          You're editing shot made on
          <strong><%= @shot.start_time.in_time_zone(@timezone).to_formatted_s(:long) %></strong>.
        </h3>
      </div>
      <hr class="my-6 text-neutral-200 dark:text-neutral-700">
      <div>
        <h3 class="font-medium leading-6 text-neutral-900 dark:text-neutral-100">
          Copy values from another shot
        </h3>
        <div class="flex-1 mt-3 text-sm text-neutral-600 dark:text-neutral-400">
          <select class="mt-0 standard-input" data-action="related-shots#copyFrom">
            <option></option>
            <% @related_shots.each do |id, title, bean_type, time| %>
              <% next if id == @shot.id %>
              <option value="<%= id %>">
                <% title = "#{bean_type} (#{title})" if bean_type.present? %>
                <%= [title, time.in_time_zone(@timezone).to_formatted_s(:long)].join(" @ ") %>
              </option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
    <hr class="mx-4 mt-6 md:hidden sm:mx-6 text-neutral-200 dark:text-neutral-700">
    <%= render "form" %>
  </div>
</div>
