<%= turbo_frame_tag :enjoyments do %>
  <% if @enjoyments_data.present? %>
    <div>
      <div>
        <h3 class="text-lg font-medium leading-6 text-stone-900 dark:text-stone-300">Last 6 months of enjoyments</h3>
      </div>
      <div class="mt-5" id="enjoyments-chart"></div>
    </div>
    <script>
      window.enjoymentsData = <%= @enjoyments_data.to_json.html_safe %>
    </script>
  <% else %>
    <h3 class="text-lg font-medium leading-6 text-stone-900 dark:text-stone-300">No shots with enjoyment yet</h3>
  <% end %>
<% end %>
