<% content_for(:html_title) { "Visualizer | Upload" } %>
<% turbo_refreshes_with method: :morph, scroll: :preserve %>
<div class="mx-auto mt-6 space-y-6 max-w-7xl sm:px-6 lg:px-8">
  <div class="px-4 sm:hidden">
    <h1 class="font-serif text-4xl font-bold tracking-tight text-neutral-900 dark:text-neutral-100">
      Upload
    </h1>
  </div>
  <%= render "upload_form" %>
</div>
