<div class="flex justify-center items-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="flex flex-col gap-y-8 w-full max-w-md">
    <div>
      <%= image_tag "decent-espresso.png", class: "mx-auto h-16 w-auto bg-white" %>
      <h2 class="mt-10 text-3xl font-extrabold text-center text-neutral-900 dark:text-neutral-200">
        Link Visualizer with your Decent account
      </h2>
    </div>
    <%= form_with(url: decent_tokens_path, html: {class: "flex flex-col mt-8 gap-y-6", autocomplete: "off"}) do |f| %>
      <div class="rounded-md shadow-sm -gap-y-px">
        <div>
          <%= f.email_field :email, autofocus: true, autocomplete: "off", placeholder: "Decent email address", class: "appearance-none rounded-none relative block w-full px-3 py-2 text-neutral-700 dark:text-neutral-300 placeholder:text-neutral-500 dark:placeholder:text-neutral-400 bg-white dark:bg-neutral-800 border border-neutral-300 dark:border-neutral-600 rounded-t-md focus:outline-none focus:ring-oxford-blue-500 focus:border-oxford-blue-500 focus:z-10 sm:text-sm" %>
        </div>
        <div>
          <%= f.password_field :password, autocomplete: "off", placeholder: "Decent password", class: "appearance-none rounded-none relative block w-full px-3 py-2 text-neutral-700 dark:text-neutral-300 placeholder:text-neutral-500 dark:placeholder:text-neutral-400 bg-white dark:bg-neutral-800 border border-neutral-300 dark:border-neutral-600 rounded-b-md focus:outline-none focus:ring-oxford-blue-500 focus:border-oxford-blue-500 focus:z-10 sm:text-sm" %>
        </div>
      </div>
      <div>
        <button class="flex relative justify-center py-2 px-4 w-full text-sm font-medium text-white rounded-md border border-transparent focus:ring-2 focus:ring-offset-2 focus:outline-none group bg-terracotta-600 hover:bg-terracotta-700 focus:ring-terracotta-500" type="submit" data-turbo="false">
          <span class="flex absolute inset-y-0 left-0 items-center pl-3">
            <!-- Heroicon name: lock-closed -->
            <svg class="size-5 text-terracotta-500 group-hover:text-terracotta-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path clip-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" fill-rule="evenodd"></path>
            </svg>
          </span>
          Connect
        </button>
      </div>
    <% end %>
  </div>
</div>
