h1 Chart
canvas#mainChart width="100%"
h2 Temperature Chart
canvas#temperatureChart width="100%"
h2 Upload a different file
form action="/" method="POST" enctype="multipart/form-data"
  input type="file" name="file"
  input type="submit" value="Upload .shot file"

javascript:
  var timeFormat = 'HH:mm:ss';

  var options = {
  scales: {
    xAxes: [{
      type: 'time',
      time: {
        displayFormats: {second: 'HH:mm:ss'}
      },
      distribution: 'series',
      offset: true,
      ticks: {
        source: 'data',
        autoSkip: true,
        autoSkipPadding: 75,
        maxRotation: 0,
        sampleSize: 100
      }
    }]
  },
  plugins: {
    zoom: {
      pan: {
        enabled: true,
        mode: 'x'
      },
      zoom: {
        enabled: true,
        mode: 'x'
      }
    }
  },
  tooltips: {
      intersect: false,
      mode: 'index',
      callbacks: {
        label: function(tooltipItem, myData) {
          var label = myData.datasets[tooltipItem.datasetIndex].label || '';
          if (label) {
            label += ': ';
          }
          label += parseFloat(tooltipItem.value).toFixed(2);
          return label;
        }
      }
    }
  }

  var ctx = document.getElementById('mainChart').getContext('2d');
  var mainChart = new Chart(ctx, {
    type: 'line',
    data: { datasets: #{{@data.to_json}} },
    options: options
  });

  var tctx = document.getElementById('temperatureChart').getContext('2d');
  var temperatureChart = new Chart(tctx, {
    type: 'line',
    data: { datasets: #{{@temperature_data.to_json}} },
    options: options
  });
