
canvas#myChart height="400" width="400"
javascript:
  var ctx = document.getElementById('myChart').getContext('2d');
  var timeFormat = 'HH:mm:ss';
  var myChart = new Chart(ctx, {
    type: 'line',
    data: { datasets: #{{@data.to_json}} },
    options: {
      scales: {
        xAxes: [{
          type: 'time',
          time: {
            displayFormats: {second: 'HH:mm:ss'}
          },
          distribution: 'series',
          offset: true,
          ticks: {
            source: 'data',
            autoSkip: true,
            autoSkipPadding: 75,
            maxRotation: 0,
            sampleSize: 100
          }
        }]
      },
    }
  });
