<div class="bg-white shadow dark:bg-neutral-900">
  <div class="py-6 px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <h1 class="font-serif text-4xl font-bold lining-nums tracking-tight leading-tight text-neutral-900 dark:text-neutral-100">
      New Roaster
    </h1>
  </div>
</div>
<div class="pt-6 mx-auto max-w-7xl md:py-6 md:px-6 lg:px-8">
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
      </div>
    </div>
    <%= render "form", roaster: @roaster %>
  </div>
</div>
