<div class="hidden pointer-events-auto w-full max-w-sm overflow-hidden rounded-lg bg-white dark:bg-zinc-800 shadow-lg ring-1 ring-black ring-opacity-5 dark:ring-opacity-30" data-controller="notification" data-transition-enter="transform ease-out duration-300 transition" data-transition-enter-start="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2" data-transition-enter-end="translate-y-0 opacity-100 sm:translate-x-0" data-transition-leave="transition ease-in duration-100" data-transition-leave-start="opacity-100" data-transition-leave-end="opacity-0" data-notifications-target="notification">
  <div class="p-4">
    <div class="flex items-start">
      <div class="flex-shrink-0">
        <%= notification.icon.html_safe %>
      </div>
      <div class="ml-3 w-0 flex-1 pt-0.5">
        <p class="text-sm font-medium text-zinc-900 dark:text-zinc-200"><%= notification.heading %></p>
        <% if notification.text %>
          <p class="mt-1 text-sm text-zinc-500 dark:text-zinc-400"><%= notification.text %></p>
        <% end %>
      </div>
      <div class="ml-4 flex flex-shrink-0">
        <button type="button" class="inline-flex rounded-md bg-white dark:bg-zinc-800 text-zinc-400 hover:text-zinc-500 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 dark:ring-offset-black" data-action="notification#close">
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
