<%= turbo_stream.update "coffee-bags" do %>
  <% if @coffee_bags.any? %>
    <%= render @coffee_bags %>
  <% else %>
    <div class="col-span-12 pt-12 text-center text-neutral-500">
      No coffee bags found 😢
    </div>
  <% end %>
<% end %>
