<div class="hidden pointer-events-auto w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5" data-transition-enter="transform ease-out duration-300 transition" data-transition-enter-start="translate-y-2 opacity-0 sm:translate-y-0 sm:translate-x-2" data-transition-enter-end="translate-y-0 opacity-100 sm:translate-x-0" data-transition-leave="transition ease-in duration-100" data-transition-leave-start="opacity-100" data-transition-leave-end="opacity-0" data-notifications-target="notification">
  <div class="p-4">
    <div class="flex items-start">
      <div class="flex-shrink-0">
        <%= notification_icon(name) %>
      </div>
      <div class="ml-3 w-0 flex-1 pt-0.5">
        <p class="text-sm font-medium text-gray-900"><%= message %></p>
      </div>
      <div class="ml-4 flex flex-shrink-0">
        <button type="button" class="inline-flex rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2" data-action="click->notifications#close">
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
