<div class="p-4 shadow text-neutral-500 dark:bg-neutral-950 dark:text-neutral-400">
  <div class="mx-auto max-w-7xl sm:px-10 lg:px-12">
    <div>
      <div class="flex justify-between whitespace-nowrap md:hidden">
        <span>© <a class="underline hover:text-neutral-700 dark:hover:text-neutral-300" href="https://mr.si/" target="_blank">Miha Rekar</a></span>
        <a class="underline hover:text-neutral-700 dark:hover:text-neutral-300" href="https://decentforum.com/tag/visualizer" target="_blank">Forum</a>
        <a class="underline hover:text-neutral-700 dark:hover:text-neutral-300 whitespace-nowrap" href="/privacy">Privacy Policy</a>
      </div>
      <div class="justify-between hidden md:flex lg:hidden">
        <span>
          © <%= Date.today.year %>
          <a class="underline hover:text-neutral-700 dark:hover:text-neutral-300" href="https://mr.si/" target="_blank">Miha Rekar</a>.
          Suggestions welcomed on <a class="underline hover:text-neutral-700 dark:hover:text-neutral-300" href="https://decentforum.com/tag/visualizer" target="_blank">Forum</a>.
        </span><a class="underline hover:text-neutral-700 dark:hover:text-neutral-300 whitespace-nowrap" href="/privacy">Privacy Policy</a>
      </div>
      <div class="justify-between hidden whitespace-nowrap lg:flex">
        <span>
          © <%= Date.today.year %>
          <a class="underline hover:text-neutral-700 dark:hover:text-neutral-300" href="https://mr.si/" target="_blank">Miha Rekar</a>.
          Suggestions are welcomed on <a class="underline hover:text-neutral-700 dark:hover:text-neutral-300" href="https://github.com/miharekar/visualizer" target="_blank">GitHub</a>
          and
          <a class="underline hover:text-neutral-700 dark:hover:text-neutral-300" href="https://decentforum.com/tag/visualizer" target="_blank"> Forum</a>.
        </span>
        <a class="underline hover:text-neutral-700 dark:hover:text-neutral-300 whitespace-nowrap" href="/privacy">Privacy Policy</a>
      </div>
    </div>
  </div>
</div>
