<div class="p-4 shadow text-gray-500 dark:bg-gray-950 dark:text-gray-400">
  <div class="max-w-7xl mx-auto sm:px-10 lg:px-12">
    <div>
      <div class="whitespace-nowrap md:hidden flex justify-between">
        <span>© <a class="hover:text-gray-700 dark:hover:text-gray-300 underline" href="https://mr.si/" target="_blank">Miha Rekar</a></span>
        <a class="hover:text-gray-700 dark:hover:text-gray-300 underline" href="https://decentforum.com/tag/visualizer" target="_blank">Forum</a>
        <a class="hover:text-gray-700 dark:hover:text-gray-300 whitespace-nowrap underline" href="/privacy">Privacy Policy</a>
      </div>
      <div class="hidden md:flex lg:hidden justify-between">
        <span>
          © <%= Date.today.year %>
          <a class="hover:text-gray-700 dark:hover:text-gray-300 underline" href="https://mr.si/" target="_blank">Miha Rekar</a>.
          Suggestions welcomed on <a class="hover:text-gray-700 dark:hover:text-gray-300 underline" href="https://decentforum.com/tag/visualizer" target="_blank">Forum</a>.
        </span><a class="hover:text-gray-700 dark:hover:text-gray-300 whitespace-nowrap underline" href="/privacy">Privacy Policy</a>
      </div>
      <div class="whitespace-nowrap hidden lg:flex justify-between">
        <span>
          © <%= Date.today.year %>
          <a class="hover:text-gray-700 dark:hover:text-gray-300 underline" href="https://mr.si/" target="_blank">Miha Rekar</a>.
          Suggestions are welcomed on <a class="hover:text-gray-700 dark:hover:text-gray-300 underline" href="https://github.com/miharekar/visualizer" target="_blank">GitHub</a>
          and
          <a class="hover:text-gray-700 dark:hover:text-gray-300 underline" href="https://decentforum.com/tag/visualizer" target="_blank"> Forum</a>.
        </span>
        <a class="hover:text-gray-700 dark:hover:text-gray-300 whitespace-nowrap underline" href="/privacy">Privacy Policy</a>
      </div>
    </div>
  </div>
</div>
