<div class="hidden relative z-50" data-modal-target="toggleable" data-action="keydown@window->modal#keydown">
  <div class="fixed inset-0 transition-opacity" data-transition-enter="ease-out duration-300" data-transition-enter-start="opacity-0" data-transition-enter-end="opacity-100" data-transition-leave="ease-in duration-200" data-transition-leave-start="opacity-100" data-transition-leave-end="opacity-0" data-modal-target="toggleable">
    <div class="fixed inset-0 bg-neutral-500/75"></div>
  </div>
  <div class="overflow-y-auto fixed inset-0 z-50 w-screen">
    <div class="flex justify-center items-end p-4 min-h-full text-center sm:items-center sm:p-0" data-action="click->modal#backgroundClick">
      <div class="overflow-hidden relative text-left bg-white rounded-lg shadow-xl transition-all transform sm:my-8 sm:w-full sm:max-w-lg dark:bg-neutral-900" data-transition-enter="ease-out duration-300" data-transition-enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" data-transition-enter-end="opacity-100 translate-y-0 sm:scale-100" data-transition-leave="ease-in duration-200" data-transition-leave-start="opacity-100 translate-y-0 sm:scale-100" data-transition-leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" data-modal-target="toggleable">
        <div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="flex justify-center items-center mx-auto bg-red-100 rounded-full sm:mx-0 dark:bg-red-900 size-12 shrink-0 sm:size-10">
              <svg class="text-red-600 dark:text-red-400 size-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
              </svg>
            </div>
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 id="modal-headline" class="text-lg font-semibold text-neutral-900 dark:text-neutral-100" data-modal-target="headline"></h3>
              <div class="mt-2">
                <p class="text-sm text-neutral-500 dark:text-neutral-400" data-modal-target="text"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="py-3 px-4 sm:flex sm:flex-row-reverse sm:px-6 bg-neutral-50 dark:bg-neutral-800">
          <button type="button" data-action="click->modal#performClick" data-modal-target="button" class="inline-flex justify-center py-2 px-3 w-full text-sm font-semibold text-white bg-red-600 rounded-md shadow-sm sm:ml-3 sm:w-auto hover:bg-red-700 focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:outline-none">
          </button>
          <button type="button" data-action="click->modal#hide" class="inline-flex justify-center py-2 px-3 mt-3 w-full text-sm font-semibold bg-white rounded-md ring-1 ring-inset shadow-sm sm:mt-0 sm:w-auto focus:ring-2 focus:ring-offset-2 focus:outline-none text-neutral-700 ring-neutral-300 dark:bg-neutral-800 dark:text-neutral-300 dark:ring-neutral-600 dark:hover:bg-neutral-900 hover:bg-neutral-50 focus:ring-terracotta-500">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
