<div data-controller="notifications-container" class="fixed inset-0 z-30 flex items-end px-4 py-6 pointer-events-none sm:items-start sm:p-6 sm:top-16">
  <div id="notifications-container" class="flex flex-col items-center w-full gap-y-4 sm:items-end">
    <% flash.each do |type, message| %>
      <% if message.is_a?(Hash) %>
        <%= render "notifications/notification", notification: Notification.new(type: type, **message.symbolize_keys) %>
      <% else %>
        <%= render "notifications/notification", notification: Notification.new(type: type, heading: message) %>
      <% end %>
    <% end %>
    <% flash.clear %>
  </div>
</div>
