postgres: &postgres
  <% if RUBY_PLATFORM =~ /darwin/ %>gssencmode: disable<% end %>
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 100 # https://island94.org/2024/09/secret-to-rails-database-connection-pool-size
  connect_timeout: 3
  variables:
    statement_timeout: 10s

postgres_production: &postgres_production
  <<: *postgres
  username: visualizer
  password: <%= ENV["POSTGRES_PASSWORD"] %>
  host: <%= ENV["POSTGRES_HOST"] %>
  port: <%= ENV["POSTGRES_PORT"] %>

development:
  primary:
    <<: *postgres
    <% if ENV["POSTGRES_PASSWORD"].present? %>
    database: visualizer_production
    username: visualizer
    password: <%= ENV["POSTGRES_PASSWORD"] %>
    port: 15432
    <% else %>
    database: visualizer_development
    <% end %>
  queue:
    <<: *postgres
    database: visualizer_queue_development
    migrations_paths: db/queue_migrate
  cache:
    <<: *postgres
    database: visualizer_cache_development
    migrations_paths: db/cache_migrate
  cable:
    <<: *postgres
    database: visualizer_cable_development
    migrations_paths: db/cable_migrate

test:
  <<: *postgres
  database: visualizer_test

production:
  primary:
    <<: *postgres_production
    database: visualizer_production

  queue:
    <<: *postgres_production
    database: visualizer_queue
    migrations_paths: db/queue_migrate

  cache:
    <<: *postgres_production
    database: visualizer_cache
    migrations_paths: db/cache_migrate

  cable:
    <<: *postgres_production
    database: visualizer_cable
    migrations_paths: db/cable_migrate
