service: visualizer

image: miharekar/visualizer

servers:
  web:
    - hvapp
  job:
    hosts:
      - hvapp
    cmd: bin/jobs

proxy:
  ssl: true
  hosts:
    - visualizer.coffee
    - www.visualizer.coffee

registry:
  server: ghcr.io
  username: miharekar
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  arch: arm64

env:
  secret:
    - RAILS_MASTER_KEY
    - POSTGRES_PASSWORD
  clear:
    WEB_CONCURRENCY: 2
    POSTGRES_HOST: 10.0.0.50
    POSTGRES_PORT: 5440
    RUBYOPT: "--enable-frozen-string-literal"

aliases:
  console: app exec --interactive --reuse "bin/rails console"
  shell: app exec --interactive --reuse "bash"
  logs: app logs -f
  dbc: accessory exec postgres18 --interactive --reuse "psql -U visualizer -d visualizer_production"

volumes:
  - "visualizer_storage:/rails/storage"

asset_path: /rails/public/assets

accessories:
  postgres18:
    image: postgres:18
    host: hvdb
    port: 5440:5432
    env:
      clear:
        POSTGRES_USER: "visualizer"
        POSTGRES_DB: "visualizer_production"
      secret:
        - POSTGRES_PASSWORD
    directories:
      - data:/var/lib/postgresql
    options:
      shm-size: 3g

  pg_backup:
    image: miharekar/postgres-backup-s3:18.0
    host: hvdb
    env:
      clear:
        SCHEDULE: "@daily"
        BACKUP_KEEP_DAYS: 7
        S3_REGION: auto
        S3_BUCKET: pg-backups
        S3_ENDPOINT: https://42818cc952b31ef348852ae6e9da2520.eu.r2.cloudflarestorage.com
        S3_PREFIX: visualizer
        POSTGRES_HOST: visualizer-postgres18
        POSTGRES_USER: visualizer
        POSTGRES_DATABASE: visualizer_production
      secret:
        - POSTGRES_PASSWORD
        - S3_ACCESS_KEY_ID
        - S3_SECRET_ACCESS_KEY
        - PASSPHRASE:ENCRYPTION_PASSWORD
    options:
      network: ipv6-network

  dozzle:
    image: amir20/dozzle:v8.14
    hosts:
      - hvapp
      - hvdb
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    port: "127.0.0.1:3200:8080"
