clear_solid_queue_finished_jobs:
  queue: low
  command: "SolidQueue::Job.clear_finished_in_batches(sleep_between_batches: 0.3)"
  schedule: "@daily"
shared_shot_cleanup_job:
  class: SharedShotCleanupJob
  schedule: "@hourly"
fill_autocomplete_values_job:
  class: FillAutocompleteValuesJob
  schedule: "@hourly"
duplicate_lemon_squeezy_subscriptions_job:
  class: DuplicateLemonSqueezySubscriptionsJob
  schedule: "@daily"
tag_cleaner_job:
  class: TagCleanerJob
  schedule: "@daily"
airtable_webhook_refresh_all_job:
  class: AirtableWebhookRefreshAllJob
  schedule: "0 0 */6 * *"
loffee_labs_importer_job:
  class: LoffeeLabsImporterJob
  schedule: "@daily"
premium_feedback_job:
  class: PremiumFeedbackJob
  schedule: "@daily"
populate_dropdown_values_job:
  class: PopulateDropdownValuesJob
  schedule: "@daily"
trending_profiles_job:
  class: TrendingProfilesJob
  schedule: "@hourly"
