test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %>

local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

local_r2:
  service: S3
  endpoint: <%= Rails.application.credentials.dig(:r2, :endpoint) %>
  access_key_id: <%= Rails.application.credentials.dig(:r2, :access_key_id) %>
  secret_access_key: <%= Rails.application.credentials.dig(:r2, :secret_access_key) %>
  bucket: visualizer-development
  region: auto
  request_checksum_calculation: when_required
  response_checksum_validation: when_required

amazon:
  service: S3
  access_key_id: <%= ENV["AWS_ACCESS_KEY"] %>
  secret_access_key: <%= ENV["AWS_SECRET_ACCESS_KEY"] %>
  region: <%= ENV["AWS_REGION"] || 'eu-central-1' %>
  bucket: visualizer-coffee
