<% content_for(:html_title) { "Visualizer | Community" } %>
<% unless current_user&.premium? %>
  <% if current_user&.id == params[:user_id] %>
    <%= render "instant_filters_promo" %>
  <% else %>
    <%= turbo_frame_tag "banner", src: banner_community_index_path(params.permit!) %>
  <% end %>
<% end %>
<div class="flex flex-col mx-auto my-6 gap-y-6 max-w-7xl sm:px-6 lg:px-8">
  <div class="flex flex-row justify-between gap-2 px-4 sm:px-0">
    <div>
      <h1 class="pr-2 font-serif text-4xl font-bold tracking-tight whitespace-nowrap text-neutral-900 dark:text-neutral-100 overflow-clip">
        Community Shots
      </h1>
    </div>
  </div>
  <%= render "filters" %>
  <%= render "shots/table_list", shots: @shots, include_person: true, cursor: @cursor, cursor_path: community_index_path(params.permit(*CommunityController::FILTERS, :min_enjoyment, :max_enjoyment).merge(commit: "Search", before: @cursor, format: :turbo_stream)) %>
</div>
