<div class="flex items-center justify-center px-4 py-12 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <%= inline_svg_tag "logo.svg", class: "w-auto h-16 mx-auto fill-current text-neutral-900 dark:text-neutral-200" %>
      <h2 class="mt-10 text-3xl font-extrabold text-center text-neutral-900 dark:text-neutral-200">
        Forgot your password?
      </h2>
    </div>
    <%= form_with url: passwords_path, class: "mt-8 space-y-6" do |f| %>
      <div class="-space-y-px rounded-md shadow-sm">
        <div>
          <%= f.email_field :email, autofocus: true, placeholder: "Email address", autocomplete: "email", class: "appearance-none rounded relative block w-full px-3 py-2 text-neutral-700 dark:text-neutral-300 placeholder:text-neutral-500 dark:placeholder:text-neutral-400 bg-white dark:bg-neutral-800 border border-neutral-300 dark:border-neutral-600 focus:outline-none focus:ring-oxford-blue-500 focus:border-oxford-blue-500 focus:z-10 sm:text-sm" %>
        </div>
      </div>
      <div>
        <button class="relative flex justify-center w-full px-4 py-2 text-sm font-medium text-white border border-transparent rounded-md group bg-terracotta-600 hover:bg-terracotta-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-terracotta-500" type="submit" data-turbo="false">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <!-- Heroicon name: lock-closed -->
            <svg class="size-5 text-terracotta-500 group-hover:text-terracotta-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
              <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
            </svg>
          </span>
          Send me instructions
        </button>
      </div>
    <% end %>
  </div>
</div>
