<main class="relative min-h-full isolate">
  <img src="https://images.unsplash.com/photo-1520227404105-5f086396b3ba?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNzAwNzYyMjk1fA&ixlib=rb-1.2.1&auto=format&fit=crop&w=3050&q=80&con=-15&sat=-50" alt="" class="object-cover object-top absolute inset-0 w-full h-full -z-10">
  <div class="py-32 px-6 mx-auto max-w-7xl text-center sm:py-40 lg:px-8">
    <p class="text-base font-semibold leading-8 text-white drop-shadow-md">500</p>
    <h1 class="mt-4 font-serif text-4xl font-bold tracking-tight text-white sm:text-6xl drop-shadow-md">No coffee for you!</h1>
    <p class="mt-4 text-base text-white sm:mt-6 drop-shadow">Something went wrong 🤷‍♂️</p>
    <div class="flex justify-center mt-10">
      <a href="/" class="text-sm font-semibold leading-7 text-white drop-shadow-md">
        &larr; Back to home
      </a>
    </div>
  </div>
</main>
