<main class="relative min-h-full isolate">
  <img src="https://images.unsplash.com/photo-1520227404105-5f086396b3ba?ixid=M3wxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNzAwNzYyMjk1fA&ixlib=rb-1.2.1&auto=format&fit=crop&w=3050&q=80&exp=2&con=-15&sat=-50" alt="" class="absolute inset-0 object-cover object-top w-full h-full -z-10">
  <div class="px-6 py-32 mx-auto text-center max-w-7xl sm:py-40 lg:px-8">
    <p class="text-base font-semibold leading-8 text-white text-shadow">404</p>
    <h1 class="mt-4 font-serif text-4xl font-bold tracking-tight text-white text-shadow sm:text-6xl">No coffee for you!</h1>
    <p class="mt-4 text-base text-white/90 sm:mt-6">You seem to be lost. There's no coffee here 🤷‍♂️</p>
    <div class="flex justify-center mt-10">
      <a href="/" class="text-sm font-semibold leading-7 text-white text-shadow">
        &larr; Back to home
      </a>
    </div>
  </div>
</main>
