<div class="bg-white border-b border-neutral-200 dark:bg-neutral-900 dark:border-neutral-700">
  <div class="py-6 px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <h1 class="font-serif text-4xl font-bold lining-nums tracking-tight leading-tight text-neutral-900 dark:text-neutral-100">
      Edit Update
    </h1>
  </div>
</div>
<div class="py-6 px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
  <%= render "form", update: @update %>
</div>
