<% content_for(:html_title) { "Visualizer | Updates" } %>
<% content_for(:head) { auto_discovery_link_tag :rss, feed_updates_path(format: :rss) } %>
<div class="max-w-3xl px-4 py-12 mx-auto sm:px-6">
  <% if current_user&.admin %>
    <div class="text-xs text-right">
      <%= link_to "New", new_update_path, class: "text-right" %>
    </div>
  <% end %>
  <div id="updates" class="flex flex-col gap-y-20">
    <%= render @updates %>
  </div>
  <%= render partial: "shared/cursor_loader", locals: { cursor: @cursor, path: updates_path(before: @cursor, format: :turbo_stream) } %>
</div>
