@tailwind base;
@tailwind components;
@tailwind utilities;

.shot-range {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.standard-label {
  @apply block text-sm font-medium text-stone-700 dark:text-stone-300;
}

.standard-input {
  @apply mt-1 rounded-md shadow-sm text-sm font-medium text-stone-700 dark:text-stone-300 placeholder:text-stone-500 dark:placeholder:text-stone-400 bg-white dark:bg-stone-800 border border-stone-300 dark:border-stone-600 focus:outline-none focus:ring-emerald-500 focus:border-emerald-500 block w-full;
}

input[type="range"].shot-range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: hsl(0, 80%, 50%);
  background: linear-gradient(45deg, hsl(0, 70%, 50%), hsl(120, 70%, 50%) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  @apply h-1;
}

input[type="range"].shot-range:focus {
  outline: none;
}

input[type="range"].shot-range::-moz-range-track {
  -moz-appearance: none;
  background: hsl(0, 70%, 50%);
  background: linear-gradient(45deg, hsl(0, 70%, 50%), hsl(120, 70%, 50%) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  @apply h-1;
}

input[type="range"].shot-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  bottom: 8px;
  cursor: -webkit-grab;
  @apply relative h-5 w-5 bg-white dark:bg-stone-800 border-2 border-solid border-stone-700 dark:border-stone-300 rounded-full;
}

input[type="range"].shot-range::-moz-range-thumb {
  -moz-appearance: none;
  bottom: 8px;
  cursor: -moz-grab;
  @apply relative h-5 w-5 bg-white dark:bg-stone-800 border-2 border-solid border-stone-700 dark:border-stone-300 rounded-full;
}

input[type="range"].shot-range::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type="range"].shot-range::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  @apply mt-1;
  @apply h-9 w-32;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  @apply rounded-md;
}

input[type="color"]::-moz-color-swatch {
  border: none;
  @apply rounded-md;
}
