@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));


@theme {
  --font-sans: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Ragazzi", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  --color-terracotta-50: oklch(96.23% 0.016 32.01);
  --color-terracotta-100: oklch(92.42% 0.034 26.81);
  --color-terracotta-200: oklch(84.94% 0.07 28.49);
  --color-terracotta-300: oklch(77.93% 0.109 28.8);
  --color-terracotta-400: oklch(71.53% 0.148 30.64);
  --color-terracotta-500: oklch(66.02% 0.186 31.04);
  --color-terracotta-600: oklch(58.98% 0.214 31.63);
  --color-terracotta-700: oklch(47.82% 0.171 31.71);
  --color-terracotta-800: oklch(35.98% 0.124 31.8);
  --color-terracotta-900: oklch(23.15% 0.072 32.58);
  --color-terracotta-950: oklch(16.11% 0.041 33.73);

  --color-oxford-blue-50: oklch(95.45% 0.008 228.85);
  --color-oxford-blue-100: oklch(91.61% 0.014 233.76);
  --color-oxford-blue-200: oklch(82.14% 0.028 234.05);
  --color-oxford-blue-300: oklch(73.44% 0.042 234.48);
  --color-oxford-blue-400: oklch(63.65% 0.058 236.32);
  --color-oxford-blue-500: oklch(54.03% 0.055 236.46);
  --color-oxford-blue-600: oklch(45.98% 0.046 237.81);
  --color-oxford-blue-700: oklch(38.49% 0.037 235.76);
  --color-oxford-blue-800: oklch(29.18% 0.026 235.18);
  --color-oxford-blue-900: oklch(20.43% 0.015 239.49);
  --color-oxford-blue-950: oklch(14.58% 0.008 227.73);
}

@layer base {
  .prose pre {
    background-color: #2e3440;
  }
}

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

.standard-link {
  @apply underline hover:no-underline;
}

.standard-label {
  @apply block sm:text-sm font-medium text-neutral-700 dark:text-neutral-300;
}

.standard-input {
  @apply rounded-md inset-shadow-xs sm:text-sm font-medium text-neutral-700 dark:text-neutral-300 placeholder:text-neutral-500 dark:placeholder:text-neutral-400 bg-white dark:bg-neutral-800 border border-neutral-300 dark:border-neutral-600 focus:outline-hidden focus:ring-oxford-blue-500 focus:border-oxford-blue-500 block w-full focus:shadow-none;
}

.button-terracotta {
  @apply cursor-pointer inline-flex justify-center border border-transparent sm:text-sm font-medium rounded-md text-white bg-terracotta-600 hover:bg-terracotta-700 focus:outline-hidden focus:ring-2 focus:ring-offset-2 focus:ring-terracotta-500 dark:ring-offset-black;
}

.button-oxford-blue {
  @apply cursor-pointer inline-flex justify-center border border-transparent sm:text-sm font-medium rounded-md text-white bg-oxford-blue-600 hover:bg-oxford-blue-700 focus:outline-hidden focus:ring-2 focus:ring-offset-2 focus:ring-oxford-blue-500 dark:ring-offset-black;
}

.shot-range {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"].shot-range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: hsl(0, 80%, 50%);
  background: linear-gradient(45deg, hsl(0, 70%, 50%), hsl(120, 70%, 50%) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  @apply h-1;
}

input[type="range"].shot-range:focus {
  outline: none;
}

input[type="range"].shot-range::-moz-range-track {
  -moz-appearance: none;
  background: hsl(0, 70%, 50%);
  background: linear-gradient(45deg, hsl(0, 70%, 50%), hsl(120, 70%, 50%) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  @apply h-1;
}

input[type="range"].shot-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  bottom: 8px;
  cursor: -webkit-grab;
  @apply relative h-5 w-5 bg-white dark:bg-neutral-800 border-2 border-solid border-neutral-700 dark:border-neutral-300 rounded-full;
}

input[type="range"].shot-range::-moz-range-thumb {
  -moz-appearance: none;
  bottom: 8px;
  cursor: -moz-grab;
  @apply relative h-5 w-5 bg-white dark:bg-neutral-800 border-2 border-solid border-neutral-700 dark:border-neutral-300 rounded-full;
}

input[type="range"].shot-range::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

input[type="range"].shot-range::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  @apply mt-1;
  @apply h-9 w-32;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  @apply rounded-md;
}

input[type="color"]::-moz-color-swatch {
  border: none;
  @apply rounded-md;
}

.turbo-progress-bar {
  @apply bg-terracotta-500;
}

a:hover .logo-steam path {
  animation: moveSteam 1s linear 1s infinite;
}

.logo-steam path {
  stroke-dashoffset: 36px;
}

@keyframes moveSteam {
  50% {
    stroke-dashoffset: 18px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}

.logo-loading .bars > path:nth-child(1) {
  animation: moveBars 0.5s ease-in-out -1.35s infinite alternate;
}
.logo-loading .bars > path:nth-child(2) {
  animation: moveBars 0.5s ease-in-out -1.2s infinite alternate;
}
.logo-loading .bars > path:nth-child(3) {
  animation: moveBars 0.5s ease-in-out -1.05s infinite alternate;
}
.logo-loading .bars > path:nth-child(4) {
  animation: moveBars 0.5s ease-in-out -0.9s infinite alternate;
}
.logo-loading .bars > path:nth-child(5) {
  animation: moveBars 0.5s ease-in-out -0.75s infinite alternate;
}
.logo-loading .bars > path:nth-child(6) {
  animation: moveBars 0.5s ease-in-out -0.6s infinite alternate;
}
.logo-loading .bars > path:nth-child(7) {
  animation: moveBars 0.5s ease-in-out -0.45s infinite alternate;
}
.logo-loading .bars > path:nth-child(8) {
  animation: moveBars 0.5s ease-in-out -0.3s infinite alternate;
}
.logo-loading .bars > path:nth-child(9) {
  animation: moveBars 0.5s ease-in-out -0.15s infinite alternate;
}

@keyframes moveBars {
  0% {
    stroke-dashoffset: 66px;
  }
  100% {
    stroke-dashoffset: 52px;
  }
}
