/*
  * This is a manifest file that'll be compiled into application.css, which will include all the files
  * listed below.
  *
  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
  * vendor/assets/stylesheets directory can be referenced here using a relative path.
  *
  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
  * files in this directory. Styles in this file should be added after the last require_* statement.
  * It is generally better to create a new file per style scope.
  *
  *= require purecss/build/pure
  *= require purecss/build/grids-responsive
  *= require_self
*/

@import "colors";
@import "shot";

html,
body {
  height: 100%;
  margin: 0;
}

canvas {
  min-height: 700px;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer {
  height: 50px;
}

.push {
  height: 100px;
}

.d-none {
  display: none;
}

.d-inline {
  display: inline !important;
}

.header {
  margin-top: 5px;
  margin-bottom: 5px;
}

.pure-menu-active > .pure-menu-link,
.pure-menu-link:hover,
.pure-menu-link:focus {
  background-color: $green-light;
}

.pure-menu-horizontal .pure-menu-list {
  display: block;
}

.pure-pull-right {
  float: right;
  input,
  button {
    margin-right: 5px;
  }
}

.nowrap {
  white-space: nowrap;
}

.button-small {
  font-size: 85%;
}

.button-header {
  font-size: 65%;
  vertical-align: bottom;
}

.menu-button {
  color: $grey;
  background-color: unset;
  &:hover {
    background-image: unset;
    background-color: $green-light;
  }
}

.small-margin-bottom {
  margin-bottom: 0.3em;
}

.small-margin-top {
  margin-top: 0.3em;
}

.small-margin {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

@media screen and (min-width: 35.5em) {
  .d-sm-block {
    display: block;
  }
  .d-sm-none {
    display: none;
  }
}
