$white: rgb(255, 255, 255);
$blue: rgb(0, 142, 212);
$green: rgb(5, 199, 147);
$black: rgb(0, 0, 0);
$muted: rgb(108, 117, 125);
$highlight-background: rgba(0, 141, 212, 0.3);
$highlight-border: rgb(0, 141, 212);
