$white: hsl(0, 0%, 100%);
$blue: hsl(200, 100%, 42%);
$green: hsl(164, 95%, 40%);
$green-light: hsl(164, 80%, 90%);
$black: hsl(0, 0%, 0%);
$muted: hsl(208, 7%, 46%);
$highlight-background: hsla(200, 100%, 42%, 0.3);
$highlight-border: hsl(200, 100%, 42%);
