.gh-ribbon {
  display: none;
  font-family: Helvetica, Arial, sans-serif;
  width: 600px;
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
  padding: 10px;
  text-decoration: none;
  position: fixed;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 1000;
  background-color: #121621;
  color: $white;

  &:after {
    content: "";
    position: relative;
    display: block;
    top: 8px;
    left: 0;
    width: 600px;
    border: 1px dashed rgba(255, 255, 255, 0.4);
  }

  &:before {
    content: "";
    position: relative;
    display: block;
    bottom: 8px;
    left: 0;
    width: 600px;
    border: 1px dashed rgba(255, 255, 255, 0.4);
  }
}

body.black {
  .gh-ribbon {
    &:after {
      content: "";
      position: relative;
      display: block;
      top: 8px;
      left: 0;
      width: 600px;
      border: 1px dashed rgba(0, 0, 0, 0.4);
    }

    &:before {
      content: "";
      position: relative;
      display: block;
      bottom: 8px;
      left: 0;
      width: 600px;
      border: 1px dashed rgba(0, 0, 0, 0.4);
    }
    background-color: $white;
    color: $black;
  }
}

.gh-ribbon.right {
  top: 15px;
  right: -285px;
  transform: rotate(45deg) translateY(100%);
}

.gh-ribbon.left {
  top: 15px;
  left: -285px;
  transform: rotate(-45deg) translateY(100%);
}

@media screen and (min-width: 35.5em) {
  .gh-ribbon {
    display: block;
  }
}
