@import "colors";

canvas {
  min-height: 500px;
}

#temperatureChart {
  min-height: 300px;
}

.reset-zoom {
  position: absolute;
  top: 50px;
  right: 30px;
}

#drop-area {
  border: 2px dashed rgb(204, 204, 204);
  border-radius: 10px;
  width: 80vw;
  max-width: 480px;
  margin: auto;
  padding: 20px;

  &.highlight {
    border-color: $highlight-border;
    background-color: $highlight-background;
  }
}

#loader {
  width: 50px;
  height: 50px;
  border: 4px solid $blue;
  border-radius: 50%;
  border-top-color: $white;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.no-left-border {
  border-left: 0 !important;
  padding-left: 0 !important;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  color: $white;
  .number {
    font-size: 14px;
    text-align: center;
    padding-top: 4px;
  }
}
