<% content_for(:html_title) { "Visualizer | Stats" } %>
<div class="py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
  <div class="px-4 pb-4 sm:pb-8 sm:hidden">
    <h1 class="font-serif text-4xl font-bold tracking-tight sm:text-5xl text-neutral-900 dark:text-neutral-100">
      Stats
    </h1>
  </div>
  <div class="p-4 space-y-6 bg-white dark:bg-neutral-800 sm:p-4">
    <span>
      Visualizer has <strong><%= @user_count %></strong> users who've uploaded <strong><%= @shot_count %></strong> shots
    </span>
    <div id="shot-uploaded-chart"></div>
    <div id="shot-user-chart"></div>
  </div>
</div>
<script>
  window.uploadedChartData = <%= @shot_charts.to_json.html_safe %>;
  window.userChartData = <%= @user_charts.to_json.html_safe %>;
</script>
